- flash[:error] = resource.errors.full_messages.to_sentence
:css
	#resend_email_container {
		color:white;
		margin:0 auto;
		background:black;
		width:440px;
		height:278px;
	}
	.wrapper_content{
		padding:35px;
	}

	.header{
		font-size:31px;
		margin-top:5px;
	}

	.notice{
		line-height:130%;
		margin-top:15px;
		margin-bottom:17px;
	}

	.inputs{
		margin-top: 5px;
	}

	.bottom_text{
		margin-top:30px;
		color:#898989;
	}

#non-login-container.wrapper.images-wrapper.left
	#resend_email_container
		.wrapper_content
			.header.left.text.bold.white
				Resend confirmation
			%br
			.notice.left.font16.bold.text{:style => "color:#898989;"}
				Please enter your email address and we'll send you a confirmation instructions.
			= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post , :class => "simple_form left"}) do |f|
				.inputs.bold.text.white.font12
					= f.label :email, "EMAIL ADDRESS"
				%br.clear
				.inputs
					= f.input_field :email, :required => true, :style => "width:268px; margin-right:5px;"
					= image_submit_tag "btn-submit.png"
				.inputs{:style => "color:red"}
					= f.full_error :email
			%br.clear
			.bottom_text.left.bold.font12.text{:style => "margin-right:30px; color:#898989;"}
				Already a member?
				%a{:href => "/#member", :style => "color:#ee3c03;"}
					Login
			.bottom_text.left.bold.font12.text{:style => "color:#898989;"}
				New to UPLO?
				%a{:href => "/", :style => "color:#ee3c03;"}
					Request an Invite