/locals address
- country = {"USA" => "usa"}
= render :layout => "account_wrapper", :locals => {:header => "My Billing Address"} do
  - if address.nil?
    .yield_info
      There is no billing address information
    - address = Address.new
  - else
    .yield_info
      .line_info
        = [address.first_name, address.last_name].join(' ')
      .line_info
        = address.address
        %br
        = address.optional_address
      .line_info
        = [address.city, address.state].join(',')
      .line_info
        = address.zip_code

  .yield_edit.hide
    = simple_form_for address, :url => user_path(@user) , :remote => true, :method => :put do |add|
      .form_wrapper.left
        .line First Name
        .line Last Name
        .line Street
        .line 
        .line City
        .line State
        .line Zip Code
      .form_wrapper.left{:style => "width:200px; margin-left:10px"}
        .line= add.input_field :first_name
        .line= add.input_field :last_name
        .line= add.input_field :address
        .line= add.input_field :optional_address
        .line= add.input_field :city
        .line= add.select :state, state_options, {:prompt => 'Select One'}
        .line= add.input_field :zip_code
        .line= hidden_field :user, :type_update, :value => :billing_address
        %br
        .update_button.left
        .button.cancel.left