/locals user
= render :layout => "account_wrapper", :locals => {:header => "My Information"} do
  .yield_info
    .line_info
      Name:
      = [current_user.first_name, current_user.last_name].join " "
    .line_info
      Email:
      = current_user.email
    .line_info
      Location:
      = current_user.location
    .line_info
      Job:
      = current_user.job
    .line_info
      Personal Site:
      = current_user.website
    .line_info
      Bio:
      = current_user.biography
  .yield_edit.hide
    = simple_form_for current_user, :remote => true do |u|
      .form_wrapper.left
        .line First Name
        .line Last Name
        .line Email
        .line Location
        .line Job
        .line Personal Site
        .line Bio
      .form_wrapper.left{:style => "width:210px; margin-left: 10px"}
        .line= u.input_field :first_name
        .line= u.input_field :last_name
        .line= u.input_field :email
        .line= u.input_field :location
        .line= u.input_field :job
        .line= u.input_field :website
        .line= u.input_field :biography
        .line= hidden_field :user, :type_update, :value => :my_information
        %br
        .update_button.left
        .button.cancel.left