/locals user
= render :layout => "account_wrapper", :locals => {:header => "My Password"} do
  .yield_info
    .line_info
      ********
  .yield_edit.hide
    = simple_form_for @user, :remote => true do |user|
      .form_wrapper.left
        .line Current Password
        .line Password
        .line Confirm Password
      .form_wrapper.left{:style => "width:180px; margin-left:10px"}
        .line= user.input_field :current_password
        .line= user.input_field :password
        .line= user.input_field :password_confirmation
        .line= hidden_field :user, :type_update, :value => :password
        .update_button.left
        .button.cancel.left