= render :layout => "account_wrapper", :locals => {:header => "My PayPal Information", :last => true} do
  .yield_info
    .line_info
      - if (current_user.paypal_email)
        = current_user.paypal_email
      - else
        Commissions are paid via PayPal. Please enter your PayPal account email address.
  .yield_edit.hide
    = simple_form_for current_user, :remote => true do |user|
      .form_wrapper.left
        .line Paypal Email
        .line Email Confirm
      .form_wrapper.left{:style => "width:180px; margin-left:10px"}
        .line= user.input_field :paypal_email
        .line= user.input_field :paypal_email_confirmation, :value => ""
        .line= hidden_field_tag :type_update, 'paypal_email'
        %br
        .update_button.left
        .button.cancel.left