/ locals image, flag, flag_type

.flagged_image_container
  .button.image_frame{:target => flag.image.id, 
      :href => url_for(:controller => '/images', :action => 'browse', :id => image.id) }
    = image_tag image.data.url(:thumb), {:width => "155px", :height=> "155px"}
  
  .button_area.info_line
    .button.reinstate.left{:id => "button-reinstate-#{image.id}"}
      = link_to('#', {:action => :reinstate_image, :image_id => image.id}, 
              :method => :post, 
              :style => "display:none", 
              :confirm => t('admin.reinstate_image_confirm'))
    
    .button.remove.left{:id => "button-remove-#{image.id}"}
      = link_to('#', {:action => :remove_image, :image_id => image.id}, 
            :method => :delete, 
            :style => "display:none", 
            :confirm => t('admin.remove_image_confirm'), 
            :class => "button_#{image.id} button remove left")
          
  .image_name.info_line
    %a.text.black.font11.image_link{ :href => "#", :target => image.id }
      = truncate(image.name, :length => 20)
  
  .author.info_line
    %a.text.black.font11.normal{ :href => url_for(:controller => '/profiles', 
        :action => 'show', :user_id => image.author.id) }
      = image.author.username
  
  .flagged_time.info_line
    Flagged
    = flag.created_at.strftime "%m/%d/%y"
  
  .flagged_time.info_line
    by
    %a.text.black.font11.normal{ :href => url_for(:controller => '/profiles', 
        :action => 'show', :user_id => flag.reporter.id) }
      = flag.reporter.username
    
  .type.info_line
    = flag_type
  .description.info_line.wordwrap= truncate(flag.description, :length => 70)
