/ locals image, flag, flag_type

.flagged_image_container
  - popup_url = url_for(:controller => 'admin/flagged_images', :action => 'get_image_popup', :image_id => image.id)
  .button.image_frame{:target => flag.image.id, 'data-url' => popup_url}
    = async_image_tag image.url(:thumb), {:width => "155px", :height=> "155px", :class => "image-thumb"}

  .button_area.info_line.action-container
    .button.reinstate.left{:id => "button-reinstate-#{image.id}", 'data-confirm' => t('admin.reinstate_image_confirm')}
      - reinstate_link = url_for( :controller => "admin/flagged_images", :action => "reinstate_image",
                                  :image_id => image.id, :flag_type => params[:flag_type])
      %form{:action => reinstate_link, :class => "reinstate-form action-form",
                :id => "reinstate-form-#{image.id}", :method =>'post'}
        = hidden_field_tag(:authenticity_token, form_authenticity_token)

    .button.remove.left{:id => "button-remove-#{image.id}", 'data-confirm' => t('admin.remove_image_confirm')}
      - remove_link = url_for(  :controller => "admin/flagged_images", :action => "remove_image",
                                :image_id => image.id, :flag_type => params[:flag_type])
      %form{:action => remove_link, :class => "remove-form action-form",
                :id => "remove-form-#{image.id}", :method =>'post'}
        = hidden_field_tag(:authenticity_token, form_authenticity_token)

  .image_name.info_line
    %a.text.black.font11.image_link{ :href => '#', 'data-url' => popup_url}
      = truncate(image.name, :length => 20)

  .author.info_line
    %a.text.black.font11.normal{ :href => url_for(:controller => '/profiles',
        :action => 'show', :user_id => image.author.id) }
      = image.author.username

  .flagged_time.info_line
    Flagged
    = flag.created_at.strftime "%m/%d/%y"

  .flagged_time.info_line
    by
    %a.text.black.font11.normal{ :href => url_for(:controller => '/profiles',
        :action => 'show', :user_id => flag.reporter.id) }
      = flag.reporter.username

  .type.info_line
    = flag_type
  .description.info_line.wordwrap= truncate(flag.description, :length => 70)
