/ locals image, flag, flag_type
.flagged_image_container
  .image_frame
    = image_tag image.data.url(:thumb), {:width => "155px", :height=> "155px"}
  .button_area.info_line
    .button.reinstate.left{:class => "button_#{image.id}"}
      = link_to '', {:action => :reinstate_image, :image_id => image.id}, method: :post, :style => "display:none"
    .button.remove.left{:class => "button_#{image.id}"}
      = link_to '', {:action => :remove_image, :image_id => image.id}, confirm: 'Are you sure?', method: :delete, :style => "display:none"
  .image_name.info_line
    = truncate(image.name, :length => 20)
  .author.info_line
    = image.author.username
  .flagged_time.info_line
    Flagged 
    = flag.created_at.strftime "%d/%m/%Y"
  .flagged_time.info_line
    by <spanc style="color:black">
    = flag.reporter.username
    </span>
  .type.info_line
    = flag_type
  %textarea.description.info_line.wordwrap{:readonly => "readonly"}
    = flag.description

:erb
  <script type="text/javascript">
  $(document).ready(function(){
    $(".reinstate<%=".button_#{image.id}"%>").click(function(e){
      if($(e.target).is('a')) return;
        $(this).find('a').click();
      event.preventDefault();
    });
    $(".remove<%=".button_#{image.id}"%>").click(function(e){
      if($(e.target).is('a'))
        return;
      $(this).find('a').click();
      event.preventDefault();
    });
  });
  
  </script>