#photos-counter.counter.left
  .number.text.black.bold.center= photos
  .text.gray.center.font14.line16 Photos
#galleries-counter.counter.left
  .number.text.black.bold.center= galleries
  .text.gray.center.font14.line16 Galleries
#likes-counter.counter.left
  .number.text.black.bold.center= likes
  .text.gray.center.font14.line16 Likes
#followers-counter.counter.left
  .number.text.black.bold.center= followers
  .text.gray.center.font14.line16 Followers
#following-counter.counter.no-padding-right.left
  .number.text.black.bold.center= following
  .text.gray.center.font14.line16 Following
