.followers-container.container.left
  .head.text.black.bold.font20
    .left= user_possesive_form(@user.id)
    .label.left= pluralize_without_count(@followers.total_entries, 'Follower')
    #counter.text.fuzzy-gray.font20.left= "(#{ @followers.total_entries })".html_safe
  .line-separator.left
  #endless-pages.left
    = render :partial => 'users/followers_template', :locals => { :users => @followers, :users_per_line => 2, :type => 'follower' }

= render :partial => 'hidden_pagination', :locals => { :data_source => @followers, :params => { :controller => 'profiles', :action => 'get_followers' } }
