.container.left
  .head
    .text.black.bold.font20.left= "#{ user_possesive_form(@user.id) } #{ pluralize_without_count(@galleries.total_entries, 'Gallery')}"
    #counter.text.fuzzy-gray.font20.left= "(#{ @galleries.total_entries })".html_safe
    - if is_current_user(@user.id) && @galleries.total_entries>0
      %a.edit-pane.right{ :href => "#{ url_for(:controller => 'galleries', :action => 'edit_images') }" }
        .icon.edit.left
        .text.black.font12.left Edit
  #endless-pages.images-wrapper.left
    = render :partial => 'galleries_template', :locals => { :galleries => @galleries, :galleries_per_line => 4 }

= render :partial => 'hidden_pagination', :locals => { :data_source => @galleries, :params => { :controller => 'profiles', :action => 'get_galleries' } }
