.likes-container.container.left
  .head.text.black.bold.font20
    .left= user_possesive_form(@user.id)
    .label.left= "Likes"
    #counter.text.fuzzy-gray.font20.left= "(#{ @images.total_entries })".html_safe
  .line-separator.left
  #endless-pages.left
    - if current_user?(@user.id)
      = render :partial => 'edit_likes_template', :locals => { :images => @images }
    - else
      = render :partial => 'images/photos_template', :locals => { :images => @images, :photos_per_line => 4, :photo_size => 'thumb' }

= render :partial => 'hidden_pagination', :locals => { :data_source => @images, :params => { :controller => 'profiles', :action => 'get_likes' } }
