.main.right
  #photos-section.container.left
    .head
      .text.black.bold.font20.left Your Photos
      .text.fuzzy-gray.font20.left= "&nbsp;(#{ @images.total_entries })".html_safe
      .edit-pane.right{ :data => { 'url' => "#{ url_for(:controller => 'profiles', :action => 'show_photos') }"} }
        .icon.edit.left
        .text.black.font12.left Edit
    .images-wrapper.left
      - (0...@images.length). each do |idx|
        - image = @images[idx]
        - additional_class = line_item_additional_class(idx, 6)
        .image-container.thumb.profile{:id => "image-container-#{image.id}", :title=>"#{image.name}", :class => "#{additional_class}"}
          = image_tag(image.data.url(:thumb), :class => "image-thumb profile image thumb")

  #galleries-section.container.left
    .head
      .text.black.bold.font20.left Your Galleries
      .text.fuzzy-gray.font20.left= "&nbsp;(#{ @images.total_entries })".html_safe
      .edit-pane.right{ :data => { 'url' => "#{ url_for(:controller => 'profiles', :action => 'show_galleries') }"} }
        .icon.edit.left
        .text.black.font12.left Edit
    .images-wrapper.left
      - (0...@galleries.length). each do |idx|
        - gallery = @galleries[idx]
        - additional_class = line_item_additional_class(idx, 6)
        .image-container.thumb.profile{:title=>"#{ gallery.name }", :class => "#{ additional_class }"}
          = image_tag(gallery_cover_image_url(gallery), :class => "image-thumb profile image thumb")

  #liked-photos-section.container.left
    .head
      .text.black.bold.font20.left Your Likes
      .text.fuzzy-gray.font20.left= "&nbsp;(#{ @images.total_entries })".html_safe
      .not-implement.edit-pane.right{ :data => { 'url' => '#'} }
        .icon.edit.left
        .text.black.font12.left Edit
    .images-wrapper.left
      - (0...@images.length). each do |idx|
        - image = @images[idx]
        - additional_class = (idx%6 == 0) ? "no-padding-left" : ((idx%6==5) ? "no-padding-right" : "")
        .image-container.thumb.profile{:id => "image-container-#{image.id}", :title=>"#{image.name}", :class => "#{additional_class}"}
          = image_tag(image.data.url(:thumb), :class => "image-thumb profile image thumb")

  #followers-section.container.left
    .head
      .text.black.bold.font20.left Your Followers
      .text.fuzzy-gray.font20.left= "&nbsp;(#{ @images.total_entries })".html_safe
      .actions-panel.right
        %a.list.text.black.bold.font10.right{ :data => { 'url' => "#{ url_for(:controller => 'profiles', :action => 'show_followers') }"} } + VIEW ALL
    .line-separator.left
    .images-wrapper.left
      - (0...@followers.length). each do |idx|
        - user = @followers[idx]
        - additional_class = (idx%3 == 0) ? 'no-padding-left' : ((idx%3==2) ? 'no-padding-right' : '')
        .user-section.left{ :class => "#{ additional_class }" }
          = image_tag(user.avatar(:small), :class => "avatar small left")
          .left
            .text.black.font12.line10= user.username
            .text.gray.font11.line10= user.fullname

  - following_margin = 'margin-top:15px;' if @followers.length > 0
  #following-section.container.left{ :style => "#{ following_margin }" }
    .head
      .text.black.bold.font20.left You Are Following
      .text.fuzzy-gray.font20.left= "&nbsp;(#{ @images.total_entries })".html_safe
      .not-implement.edit-pane.right{ :data => { 'url' => "#"} }
        .icon.edit.left
        .text.black.font12.left Edit
    .line-separator.left
    .images-wrapper.left
      - (0...@followers.length). each do |idx|
        - user = @followers[idx]
        - additional_class = (idx%3 == 0) ? 'no-padding-left' : ((idx%3==2) ? 'no-padding-right' : '')
        .user-section.left{ :class => "#{ additional_class }" }
          = image_tag(user.avatar(:small), :class => "avatar small left")
          .left
            .text.black.font12= user.username
            .text.gray.font12= user.fullname
