.container.left
  .head
    .text.black.bold.font20.left= "#{ user_possesive_form(@user.id)} #{ pluralize_without_count(@images.total_entries, 'Photo')}"
    #counter.text.fuzzy-gray.font20.left= "(#{ @images.total_entries })".html_safe
    - if is_current_user(@user.id) && @images.total_entries>0
      %a.edit-pane.right{ :href => "#{ url_for(:controller => 'galleries', :action => 'edit_images') }" }
        .icon.edit.left
        .text.black.font12.left Edit
  #endless-pages.images-wrapper.left
    = render :partial => 'images/photos_template', :locals => { :images => @images, :photos_per_line => 4, :photo_size => 'thumb' }

= render :partial => 'shared/hidden_pagination', :locals => { :data_source => @images, :params => { :controller => 'profiles', :action => 'get_photos' } }
