.container.left
  .head
    .text.black.bold.font20.left= "#{ @user.first_name }'s Photos"
    .text.fuzzy-gray.font20.left= "&nbsp;(#{ @images.total_entries })".html_safe
    .edit-pane.right{ :data => { 'url' => "#"} }
      .icon.edit.left
      .text.black.font12.left Edit
  #endless-pages.images-wrapper.left
    = render :partial => 'shared/photos_template', :locals => { :images => @images, :photos_per_line => 4, :photo_size => 'thumb' }

= render :partial => 'shared/hidden_pagination', :locals => { :data_source => @images, :params => { :controller => 'profiles', :action => 'get_photos' } }
