.container.left
  .head
    .text.black.bold.font20.left= "#{ @user.first_name }'s' Photos"
    .text.fuzzy-gray.font20.left= "&nbsp;(#{ @images.total_entries })".html_safe
    .edit-pane.right{ :data => { 'url' => "#"} }
      .icon.edit.left
      .text.black.font12.left Edit
  .images-wrapper.left
    - (0...@images.length). each do |idx|
      - image = @images[idx]
      - additional_class = (idx%4 == 0) ? "no-padding-left" : ((idx%4==3) ? "no-padding-right" : "")
      .image-container.thumb{:id => "image-container-#{image.id}", :title=>"#{image.name}", :class => "#{additional_class}"}
        = image_tag(image.data.url(:thumb), :class => "image-thumb image thumb")
