- content_for :head do
  = javascript_include_tag("lib/jquery.poshytip.js")
  = javascript_include_tag("app/admin/flagged_users.js")
  = stylesheet_link_tag("tip-yellowsimple/tip-yellowsimple.css")
  
= render :partial => "admin/admin_menu"

.admin.members.clearfix
  #top.title-bar.clearfix
    - unless @sort_field.blank?
      %h1.left.title= "#{t('admin.member_profiles')} / #{t("admin.sort_field.#{@sort_field}")}"
    - else
      %h1.left.title= "#{t('admin.member_profiles')} / #{t("admin.search")}"
    .right
      = render(:partial => "shared/admin_search_box", :locals => {:action => search_admin_members_path})
      #search-options
        %span.sort-direction{'data-sort-direction' => 'asc', :class => current_sort_direction('asc', @sort_direction)}
          = "A-Z"
        %span.sort-direction{'data-sort-direction' => 'desc', :class => current_sort_direction('desc', @sort_direction)}
          = "Z-A"
        %span.sort-label= "Sort By: "
        %span
          = select_tag('sort_field', member_filter_options(@sort_field),
                      :id => 'sort-field-selection',
                      'data-url' => url_for(:controller => "admin/members", :action => "index", :only_path => false))

  .content.clearfix
    - @users.each_with_index do |user, idx|
      - user_css = line_item_additional_class(idx, 3)
      .user-container{:id => "user-container-#{user.id}", :class => user_css}
        - author_profile = profile_path(:user_id => user.id)
        %a.profile-link.left{:href => author_profile}
          = image_tag user.avatar_url(:large), :class => 'avatar large left'
        .user-info.left
          .username
            %a{:href => author_profile}= user.username
          .numbers
            %span= "Joined #{user.created_at.strftime('%m/%d/%y')}"
            %span.separator= '|'
            %span= pluralize(user.images_count, 'item')
            %span.separator= '|'
            %span= pluralize(user.images_pageview, 'view')
        
        .action-container
          - if user.id != current_user.id
            - if !user.is_removed? && user.ready_for_reinstating?
              .button.remove{'data-confirm' => t('admin.remove_user_confirm', :username => user.username)}
                - remove_link = url_for(:controller => "admin/flagged_users", :action => "remove_user", :id => user.id)
                %form{:action => remove_link, :class => "remove-form action-form", 
                      :id => "remove-form-#{user.id}", :method =>'post'}
                  = hidden_field_tag(:authenticity_token, form_authenticity_token)
            
            - else
              .button.remove.disabled.tooltip{:title => t("admin.error_not_ready_for_removing")}
              
    = render_pagination(@users)
    
    = render(:partial => 'shared/delete_confirm', 
      :layout => 'layouts/popup', 
      :locals => { :title => 'Confirm', :id => 'flagged-users-confirm-popup', 
      :text => t('admin.reinstate_user_confirm')})

:erb
  <script>
    jQuery(function() {
      // Change selectbox
      $("#sort-field-selection-button").css("width", "160px").css("height", "20px");
      $("#sort-field-selection-button .ui-selectmenu-status").css("padding-top", "3px");
      $("#sort-field-selection-menu").css("width", "160px");

      $('#search-options .sort-direction').click(function(e){
        if($(this).hasClass('current'))
          return false;

        // Clear all current selection
        $('#search-options .sort-direction.current').removeClass('current');
        $(this).addClass('current');
        // Force change.
        $('#sort-field-selection').change();
      });

      var on_search = <%= (params[:action] == 'search' ? 'true' : 'false') %>;

      jQuery('#sort-field-selection').change(function(){
        var params = $.url(window.location.href).param();
        var sort_direction = $('#search-options .sort-direction.current').attr('data-sort-direction');
        if($.trim(sort_direction) != '')
          params['sort_direction'] = sort_direction;
        params['sort_field'] = $(this).val();
        var data_url = $(this).attr('data-url');
        if(on_search && $.trim(data_url) != ''){
          // Redirect to the index page.
          window.location.href = data_url + "?" + jQuery.param(params);
        }
        else{
          window.location.search = "?" + jQuery.param(params);
        }
      });
      
      flagged_users.setup_forms();
    })
  </script>
