!!!
%html
  %head
    %meta{ :content=>"text/html; charset=UTF-8", :http_equiv=>"Content-Type" }

  %body
    %p= t("user_mailer.mail_greeting", :name => @user.fullname)
    %p
      - if @image.blank?
        = t("user_mailer.message_reinstated_images")
      - else
        %span
          = t("user_mailer.message_reinstated_image", :image_name => formatted_image_name(@image))
        %span
          - image_link = url_for(:controller => "/images", 
              :action => "browse", 
              :id => @image.id,
              :only_path => false, 
              :host => DOMAIN)
          = link_to(formatted_image_name(@image), image_link)

    %p= t("user_mailer.mail_end")
