<% title "Sign In" %>
<%= stylesheet_link_tag "registrations" %>
<div class='wrapper' style="height:600px;">
		<div id="main">
			<div class="body-third">
				<div id="white-box">
					<h3>Login</h3>
					<h5>Please login to continue</h5>
						<fieldset>
				  <%= simple_form_for(resource, :as => resource_name,
				      :url => session_path(resource_name),
				      :html => {:class => "fresh signin"}) do |f| %>
				     <div class="field">
            <%= f.input :login, :required => false %>
            <%= f.error :email %>
            </div>
            <div class="field">
            <%= f.input(:password, 
              :label_html => {:class => "signin"},
              :input_html => {:class => 'signin'},
              :label => t('public.signin.password'),
              :required => false) %>
              <%= link_to "Forgot your password?", new_password_path(resource_name), :id => "forget_link" %>

             </div>
             
            <%= f.submit "", :class => "button medium align-top login-btn" %>
          <% end %>
						</fieldset>
 

					
					
					
				</div>
			</div>
			<div class="body-third middle_section">
				<h3>Sign up with Facebook or Twitter</h3>
				<h5>It's fast and easy</h5>
				<button class="facebook-large-btn" onclick="location.href='/auth/facebook'"></button>
				<div class="or-divider"></div>
				<button class="twitter-large-btn" onclick="location.href='/auth/twitter'"></button>
				<p>We'll never post anything
				</br></br>
				without your permission.</p>
			</div>
			<div class="body-third side-border">
				<h3>Or sign up the old fashioned way</h3>
				<h5>Use your email address to join</h5>
				
    
    <% message = resource.errors.full_messages.first || @devise_message %>
    <div class="message text highlight <%= message ? "" : "hidden" %>">
      <%= message %>
    </div>
    <%= form_for(:user, :url => registration_path(:user), :html => {:id => 'register-form', :class => 'fresh'}) do |f| %>
    <%= hidden_field_tag :token, params[:token] %>
    <%= hidden_field_tag :secret_token, params[:secret_token] %>


					<fieldset>
    
			 <div class="field" data-error="Please enter your name, or an amusing alternative">
         <%= f.label :user_first_name, 'First name', :class => 'left' %>
         <%= f.text_field :first_name, :required => true %>
       </div>
       
			 <div class="field" data-error="Please enter your e-mail address so we can get in touch">
         <%= f.label :user_last_name, 'Last name', :class => 'left' %>
         <%= f.text_field :last_name, :required => true %>
       </div>
       
 	    <div class="field">
  
         <%= f.label :user_email, 'Email Address', :class => 'left' %>
         <% if @inv.present? %>
         <%= f.text_field :email, :required => true, :autofocus => true, :value => @email, :disabled => true %>
         <%= f.hidden_field :email, :as => :hidden, :value => @email %>
         <% else %>
         <%= f.text_field :email, :required => true, :autofocus => true %>
         <% end %>
       </div>
       <div class="field">
         <%= f.label :user_username, 'username', :class => 'left' %>
         <%= f.text_field :username, :required => true, :autofocus => true %>
       </div>


     <div class="field">
         <%= f.label :user_password, 'password', :class => 'left' %>
         <%= f.password_field :password, :required => true %>
       </div>
       <div class="field">
         <%= f.label :user_password_confirmation, 'password confirmation', :class => 'left' %>
         <%= f.password_field :password_confirmation, :required => true %>
				</div>

       <div class="field">

         <span class="term-of-use">By registering you agree to the</span>
         <a class="term-of-use" href='/terms' target='blank'>Terms and Conditions</a>
       </div>
       <%= f.submit '', :class => "join-btn", :id => 'btn-signup' %>
     
					</fieldset>
     <% end %>
     
			</div><!--End of box-third --->

		</div><!--End of Main --->

	</div><!--End of Wrapper --->




<script type="text/javascript">
  $(document).ready(function(){
    user.setup_datepicker();
  });
</script>
<style>
#top {
 height:20px!important;
 overflow:hidden;
}
</style>
