- content_for :head do
  = stylesheet_link_tag('scss/admin.css')

%ul#admin_menu
  %li
    %div
      = link_to "Flagged Images", {:controller => :admin, :action => :flagged_images}
  %li
    %div
      = link_to "Flagged Users", {:controller => :admin, :action => :flagged_users}
  %li 
    %div
      = link_to "Member Profiles", {:controller => :admin, :action => :members}
  %li 
    %div
      = link_to "Promote to Spotlight", {:controller => :admin, :action => :spotlight}
