- content_for :head do
  = stylesheet_link_tag('scss/admin.css')
  = javascript_include_tag('lib/jquery.inputHintOverlay.js')
  = javascript_include_tag('lib/jquery.url.js')
   
%ul#admin_menu
  %li{:class => set_current_tab("flagged_images")}
    %div.first_item
      = link_to t("admin.flagged_images"), {:controller => :flagged_images, :action => :index}
  %li{:class => set_current_tab("flagged_users")}
    %div
      = link_to t("admin.flagged_users"), {:controller => :flagged_users, :action => :index}
  %li{:class => set_current_tab("member_profiles")}
    %div
      = link_to t("admin.member_profiles"), {:controller => :members, :action => :index}
  %li{:class => set_current_tab("spotlights")}
    %div
      = link_to t("admin.spotlights"), {:controller => :spotlights, :action => :index}
