- content_for :head do
  = stylesheet_link_tag('scss/admin.css')

%ul#admin_menu
  %li
    %div
      = link_to "Flagged Images", {:controller => :flagged_images, :action => :index}
  %li
    %div
      = link_to "Flagged Users", {:controller => :flagged_users, :action => :index}
  %li 
    %div
      = link_to "Member Profiles", {:controller => :members, :action => :index}
  %li 
    %div
      = link_to "Promote to Spotlight", {:controller => :spotlights, :action => :index}
