- content_for :head do
  = stylesheet_link_tag('scss/admin.css')
  = javascript_include_tag('lib/jquery.inputHintOverlay.js')
  = javascript_include_tag('lib/jquery.url.js')
   
%ul#admin_menu
  %li
    %div.first_item
      = link_to "Flagged Images", {:controller => :flagged_images, :action => :index}
  %li
    %div
      = link_to "Flagged Users", {:controller => :flagged_users, :action => :index}
  %li 
    %div
      = link_to "Member Profiles", {:controller => :members, :action => :index}
  %li 
    %div
      = link_to "Promote to Spotlight", {:controller => :spotlights, :action => :index}

:erb
  <script>
     jQuery(function() {
       jQuery("<%= @current_tab %> div").addClass("selected");
    })
  </script>
