/ local values: users, users_per_line
- (0...users.length). each do |idx|
  - user = users[idx]
  - is_following = user.has_follower?(current_user.id)
  - follow_label = is_following ? 'Unfollow' : 'Follow'
  - additional_class = line_item_additional_class(idx, users_per_line)

  .user-section.left{ :class => "#{ additional_class }"}
    = image_tag user.avatar(:large), :class => 'avatar large left'
    .info-panel.left
      .name.text.black.font18= user.username.truncate(20)
      .text.gray.font12.left= "#{ user.images.length } items | view&nbsp".html_safe
      %a.not-implement.text.black.font12.left{ :data => { 'user-id' => "#{ user.id }" } } profile
      %a.follow.text.black.font12.right{ :data => { 'author-id' => "#{ user.id }", 'following' => "#{ is_following }"} }= follow_label
