/ local values: users, users_per_line, type
- (0...users.length). each do |idx|
  - user = users[idx]
  - is_current_user = is_current_user(user.id)
  - images_number = is_current_user ? user.images.avai_images.length : user.images.public_images.length
  - is_following = user.has_follower?(current_user.id)
  - follow_class = is_following ? 'unfollow-small' : 'follow-small'
  - additional_class = line_item_additional_class(idx, users_per_line)

  .user-section.left{ :class => "#{ additional_class } #{type}"}
    - url = url_for(:controller => 'profiles', :action => 'show', :user_id => user.id)
    %a{:href => "#{ url }"}
      = image_tag user.avatar_url(:large), :class => 'avatar large left'
    .info-panel.left
      .name.text.black.font18.line12
        %a{:href => "#{ url }"}= user.fullname.truncate(20)
      .text.gray.font12.line12.left= "#{ pluralize(images_number, 'item')} | view&nbsp".html_safe
      %a.text.black.font12.line12.left{ :href => "#{ url }", :data => { 'user-id' => "#{ user.id }" } } profile
      - unless is_current_user
        .button.right{ :class => "#{ follow_class }", :data => { 'author-id' => "#{ user.id }", 'following' => "#{ is_following }"} }
        / %a.follow.text.black.font12.line12.right{ :data => { 'author-id' => "#{ user.id }", 'following' => "#{ is_following }"} }= follow_label
