= simple_form_for(@user, :url => "/profile/update", :html => {:class => "signup"}) do |f|
  = f.error_notification
  .inputs
    = f.input :first_name, :required => true, :autofocus => true
    = f.input :last_name, :required => true, :autofocus => true
    = f.input :gender, :as => :radio, :collection => gender_options
    = f.input :twitter
    = f.input :facebook
    
  .actions
    = f.button :submit, "Update"
    %a.cancel{:href => "/profile"}= "Cancel"
