.account
  .header.font16.bold.text My Account
  .line-separator
  %br
  .line_wrapper
    .partial_wrapper
      = render :partial => "/users/sections/my_information", :locals => {:user => @user}

    .partial_wrapper
      = render :partial => "/users/sections/billing_address", :locals => {:address => @user.billing_address}

    .partial_wrapper
      = render :partial => "/users/sections/shipping_address", :locals => {:address => @user.shipping_address}

    .clear

    .partial_wrapper
      = render :partial => "/users/sections/password", :locals => {:user => @user}

    .partial_wrapper
      = render :partial => "/users/sections/payment_info", :locals => {:user => @user}

    .partial_wrapper
      = render :partial => "/users/sections/paypal_email", :locals => {:user => @user}
    .clear

    .partial_wrapper
      = render :partial => "/users/sections/social_setting", :locals => {:user => @user}
= render :partial => '/orders/cvv_form', :layout => 'layouts/bubble', :locals => { :id => 'cvv-form' }

- content_for :js do
  = javascript_tag do
    :erb
      function reloadEvent(){
        $(document).on('click', '.edit_button', function(){
          $(this).hide();
          $(this).parent().find('.yield_info').hide(100);
          $(this).parent().find('.yield_edit').show(100);
        });

        $(document).on('click', '.cancel', function(){
          $(this).closest('.account_wrapper').find('.edit_button').show(100);
          $(this).closest('.account_wrapper').find('.yield_edit').hide(100);
          $(this).closest('.account_wrapper').find('.yield_info').show(100);
        });

        $(document).on('click', '.update_button', function(){
          $(this).closest('form').submit();
        });

        $('.simple_form')
          .bind("ajax:beforeSend", function(evt, xhr, settings){
            $('#mask').modal();
          })
          .bind("ajax:success", function(evt, data, status, xhr){
            $.modal.close();
            var $form = $(this);

            $form.closest('.partial_wrapper').html(xhr.responseText);
            helper.show_notification("Update successfully");
            $('select[id!=my_links]').selectmenu({style:'dropdown'});
            reloadEvent();
          })
          .bind('ajax:complete', function(evt, xhr, status){
            $.modal.close();
          })
          .bind('ajax:error', function(evt, xhr, status, error){
            $.modal.close();
            var $form = $(this),
                errors,
                errorText;

            try {
              errors = $.parseJSON(xhr.responseText);
            } catch(err) {
              errors = {message: "Please reload the page and try again"};
            }

            errorText = "<ul>";
            errors = errors.users;

            for (var i = 0; i < errors.length; i++ ) {
              errorText +=  "<li>" + errors[i] + "</li> ";
            }

            if (errors.length == 0 || errors.length == undefined){
              errorText +=  "<li>Something went wrong, please try later</li>";
            }

            errorText += "</ul>";

            helper.show_notification(errorText);
          });
      }

      $(document).ready(function(){
        reloadEvent();
      });
