- content_for :head do
  = stylesheet_link_tag("search.css")


- if @users.count == 0
  = "There is no result for Gallery owners with \"#{params[:query]}\""

- else
  = "#{@users.total_entries} result for Gallery owners with \"#{params[:query]}\""
  .clear &nbsp;
  .section.users
    .clear
    - @users.each do |user|
      .wrapper
        .preview
          =raw async_image_tag("member_normal.gif", :class => "gallery-cover-image")
        .info
          - full_name = [user.first_name, user.last_name].join(" ")
          .name= full_name
          .email= user.email
          = link_to "(more galleries from #{full_name})", :controller=>'galleries', :action=>'search_public', :query => params[:query], :user => user.id

  %div{:style=>"clear:both;"}
  .section= render_pagination(@users, {:controller => params[:controller], :action => params[:action]})
    
    
= javascript_include_tag "lib/blueimp/tmpl.min.js"
