%ul
  - if user_signed_in?
    %li
      = link_to "Logout", "/signout", :class => "icon-link icon-logout", :method => "delete"
    %li
      %a{:href => shopping_cart_show_path}
        My Cart
        %span#cart-counter.normal (#{total_line_items})
    %li.no-padding-right
      = select_tag "private_pages", private_links_options, :id => "my_links"

  - else
    %li
      = link_to "Login", "/signin", :method => "get"
    %li.no-padding= "|"
    %li
      = link_to "Sign Up", "/register"

:erb
  <script type = "text/javascript">
    jQuery(document).ready(function() {

    });
  </script>
