!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p
      Hi,
    %p
      #{@user.username} (#{@user.fullname}, #{mail_to @user.email}) purchased a photo on Uplo.com.
    %p
      Shipping Address: #{@order.ship_to_address}
    %h3
      Order Summary
    %table
      %tr
        %th
          Name
        %th
          Quantity
        %th
          Price
        %th
          Description
        %th
          Seller's Name
        %th
          Seller's Username
          
      - subtotal = 0
      - (0...@order.line_items.length).each do |idx|
        - line_item = @order.line_items[idx]
        - subtotal += line_item.price * line_item.quantity
        %tr
          %td
            = formatted_image_name(line_item.image)
          %td
            = line_item.quantity
          %td
            = number_to_currency(line_item.price * line_item.quantity)
          %td
            = line_item.product_option.try(:description)
            = line_item.product.size.to_name
            = line_item.product.moulding.name
          %td
            = line_item.image.user.fullname
          %td
            = line_item.image.user.username
    %br
    .summary.text.black.font11.line18.right
      .text.bold.right
        Subtotal: #{number_to_currency subtotal}
      .text.right.clear
        Tax: #{(@order.tax > 0 ? number_to_currency(@order.tax) : "--")}
      .text.clear
        S&H: #{number_to_currency @order.shipping_fee}
    .line-separator.left
    .summary.right
      .grand-total.text.black.bold.font14.line18.right.clear
        .left Grand Total: #{number_to_currency(@order.order_total)}
    .line-separator.left
    .submit.right
      %p
        The cropped and original photos will appear shortly in the Uplo Dropbox subfolder named #{@order.dropbox_order_root_path}.
    %p
      Thanks and best regards.