!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hi #{@user.fullname},
    %p
      Congratulations! Your order is being processed and will ship soon.
    %h3
      Order ##{@order.id}
    - @order.line_items.each do |line_item|
      %p
        = image_tag line_item.image.url(:thumb)
        %br
        = formatted_image_name(line_item.image)
        %br
        = number_to_currency(line_item.price * line_item.quantity)
    %h4
      Tax:
      = @order.tax > 0 ? number_to_currency(@order.tax) : "n/a"
    %h4
      S&H:
      = number_to_currency @order.shipping_fee
    %h4
      Order Total:
      = number_to_currency @order.order_total
    %p
      Thanks and best regards.
