- page_title @mode
- content_for :body_class, 'images'

- result_type = (params[:filtered_by]==User::SEARCH_TYPE) ? 'User' : 'Photo'
- content_for :top_content do
  = render :partial => 'browse_header', :locals => {:num_of_records => @data.count, :current_views => @current_views}

.wrapper.images-wrapper.left
  - if result_type == 'Photo'
    = render :partial => 'images/photos_template', :locals => { :images => @data, :photos_per_line => 6, :photo_size => 'thumb', :other_classes => '' }
  - else
    - @data.each_with_index do |user, idx|
      - user_css = line_item_additional_class(idx, 3)
      .user-container{:id => "user-container-#{user.id}", :class => user_css}
        - author_profile = profile_path(:user_id => user.id)
        %a.profile-link.left{:href => author_profile}
          = image_tag user.avatar_url(:large), :class => 'avatar large left'
        .user-info.left
          .username
            %a{:href => author_profile}= user.username
          .numbers
            %span= "Joined #{user.confirmed_at.strftime('%m/%d/%y')}"
            %span.separator= '|'
            %span= pluralize(user.public_images.size, 'item')
            %span.separator= '|'
            %span= pluralize(user.images_pageview, 'view')

= render_pagination(@data, {:controller => 'home', :action => params[:action]}, {:page_links => false})
