- content_for :head do
  = stylesheet_link_tag("scss/new_image.css")

- result_type = (params[:filtered_by]==User::SEARCH_TYPE) ? 'User' : 'Photo'
- content_for :top_content do
  / .data-header.text.font16.line12.left
  /   %span.text.black.bold Search >
  /   %span.result-number= "#{ pluralize @data.total_entries, result_type } found"
  / = render :partial => "shared/filter_search_box", :locals => {:action => "search"}
  = render :partial => 'browse_header', :locals => {:num_of_records => @data.total_entries, :current_views => @current_views}

.wrapper.images-wrapper.left
  - if result_type == 'Photo'
    = render :partial => 'images/photos_template', :locals => { :images => @data, :photos_per_line => 6, :photo_size => 'thumb', :other_classes => '' }
  - else
    - @data.each_with_index do |user, idx|
      - user_css = line_item_additional_class(idx, 3)
      .user-container{:id => "user-container-#{user.id}", :class => user_css}
        - author_profile = profile_path(:user_id => user.id)
        %a.profile-link.left{:href => author_profile}
          = image_tag user.avatar_url(:large), :class => 'avatar large left'
        .user-info.left
          .username
            %a{:href => author_profile}= user.username
          .numbers
            %span= "Joined #{user.created_at.strftime('%m/%d/%y')}"
            %span.separator= '|'
            %span= pluralize(user.images_count, 'item')
            %span.separator= '|'
            %span= pluralize(user.images_pageview, 'view')
= render_pagination(@data, {:controller => 'home', :action => 'search'})
