- content_for :head do
  = javascript_include_tag('lib/jail.min.js', 'app/gallery.js', 'lib/jquery.inputHintOverlay.js')
  = stylesheet_link_tag('scss/new_image.css')

- content_for :top_content do
  .data-header.text.black.bold.font16.line12.left Your Friend's Feed
  = render(:partial => "shared/search_box_new", :locals => {:action => "search"})

.wrapper.images-wrapper.left
  - if @images.blank?
    .empty-data= "There is no image from whom you are followings."
  - else
    = render :partial => 'shared/photos_template', :locals => { :images => @images, :photos_per_line => 6, :photo_size => 'thumb', :other_classes => '' }
= render_pagination(@images, {:controller => "home", :action => params[:action]})

:erb
  <script type="text/javascript">
    gallery.setup();
  </script>
