- content_for :head do
  = stylesheet_link_tag("scss/new_image.css")

- content_for :top_content do
  .data-header.text.bold.font16.line12.left
    %span.text.black Browse >
    %span.text.gray Recent Uploads
  = render :partial => "shared/filter_search_box", :locals => {:action => "search"}

#non-login-container.wrapper.images-wrapper.left
  = render :partial => 'images/photos_template', :locals => { :images => @images, :photos_per_line => 6, :photo_size => 'thumb', :other_classes => '' }
  = render :partial => "shared/welcome"
= render_pagination(@images, {:controller => "home", :action => params[:action]})
#login-overlay.overlay

- content_for :js do
  = javascript_tag do
    helper.show_overlay();
    helper.setup_login();
