- if user_signed_in?
  - content_for :head do
    = javascript_include_tag("lib/jail.min.js")
    = javascript_include_tag("lib/galleria/galleria.min.js")
    = javascript_include_tag("app/gallery.js")

.home
  .home-header
    - if !user_signed_in?
      = render(:partial => "shared/welcome")
    - else
      .gallery-container.clearfix
        %ul#gallery
          - @images.each do |image|
            %li
              %a.image{:href => image.url(:medium)}
                = image_tag(image.image_thumb_url, :title => image.name)
                .link= url_for(:controller => "images", :action => "browse", :id => "#{image.id}")
      :erb
        <script type="text/javascript">
          $(document).ready(function(){
            //gallery.setup();
            Galleria.loadTheme("<%= javascript_path("lib/galleria/themes/uplo/galleria.uplo.min.js") %>");
            $('#gallery').galleria({
              width: 950,
              height: 500,
              debug: false,
              showCounter: false,
              thumbQuality: 'auto',
              extend: function(options) {
                var gallery = this;
                gallery.play(5000);
                $("#gallery .galleria-container").css("height", 550);
              },
              dataConfig: function(img) {
                return {
                  link: $(img).siblings('.link').html()
                };
              }
            });
          });
          
    
        </script>

:erb
  <script type="text/javascript">
    $(document).ready(function(){
      helper.hide_require_signs();
    });
  </script>
