.home
  - if user_signed_in?
    = link_to 'Your Profile', '/profile'
  - else
    #session-container.clearfix
      #signup-area.clearfix.left
        %h1.intro= "Broadcast your photos"
        .signup
          %a{:href => "/register", :class => "ui-button-container icon-link"}
            %span.round-button= "Sign up now"

      #signin-area.right.box.column
        .header= "Member sign in"
        .content
          = simple_form_for(:user, :url => user_session_path) do |f|
            = f.input :login, :wrapper_class => "input clearfix", :label_html => {:class => "signin"}, :input_html => {:class => 'signin'}, :required => true
            = f.error :email
            = f.input :password, :wrapper_class => "input clearfix", :label_html => {:class => "signin"}, :input_html => {:class => 'signin'}, :label => "Password", :required => true    
            .input.clearfix
              = link_to "Forgot your password?", new_password_path(:user), :class => "icon info-link small"
              = f.submit "Sign in", :class => "signin-button"
