- content_for :head do
  = javascript_include_tag("lib/jail.min.js")
  = javascript_include_tag("lib/galleria/galleria.min.js")
  = javascript_include_tag("app/gallery.js")
      
.home
  .home-header
    - if !user_signed_in?
      = render(:partial => "shared/welcome")
    - else
      .gallery-container.clearfix
        #gallery
          - @images.each do |image|
            %a.image{:href => image.url}
              = image_tag(image.image_thumb_url, :title => image.name)
  .home-footer
    
:erb
  <script type="text/javascript">
    $(document).ready(function(){
      helper.hide_require_signs();
      //gallery.setup();
      Galleria.loadTheme("<%= javascript_path("lib/galleria/themes/classic/galleria.classic.min.js") %>");
      $('#gallery').galleria({
        width: 950,
        height: 500,
        debug: false,
        extend: function(options) {
          var gallery = this;
          gallery.play(5000);
          $("#gallery .galleria-container").css("height", 550);
        }
      });
    });
  </script>
