- content_for :head do
  = stylesheet_link_tag("scss/banner.css")

- content_for :banner do
  - render :partial => "home/banners/the_app"

- content_for :top_content do
  .text.black.bold.font24.line18.center{ :style => 'margin:10px 0;' }
    Feature & Gallery
  .line-separator.left

.wrapper.the-app
  .intro.left.no-padding-left
    = image_tag("/assets/intro-phone-app.jpg")
    .header.text.black.bold
      Go from Phone to Frame.
    .info.text.gray.font12.line18
      UPLO streamlines the printing process, allowing you to buy and sell your mobile photos as printed art. Picture taking and printing are simple and secure, all from the convenience of your mobile device.

  .intro.left
    = image_tag("/assets/intro-phone-like-comment.jpg")
    .header.text.black.bold
      Share with Followers.
    .info.text.gray.font12.line18
      Post photos for your followers to view, comment on, and purchase. Reach a larger audience and build your fan base by sharing on Facebook, Twitter, and other social media sites with the click of a button.

  .intro.left.no-padding-right
    = image_tag("/assets/intro-phone-features.jpg")
    .header.text.black.bold
      Purchase Prints.
    .info.text.gray.font12.line18
      UPLO is one of the easiest ways create physical copies of your own photo collection, and it also gives you the opportunity to acquire photography from established and up-and-coming artists.

  .intro.left.no-padding-left
    = image_tag("/assets/intro-phone-sales.jpg")
    .header.text.black.bold
      Sell Your Work.
    .info.text.gray.font12.line18
      Make a profit from your work while building your fan base. Simply create galleries of photos to sale and name your own price. You earn a commission on every print sold.
  
  .intro.left
    = image_tag("/assets/intro-phone-order.jpg")
    .header.text.black.bold
      Maintain Privacy.
    .info.text.gray.font12.line18
      Showcase your best work in self-made galleries. Choose to share with all your followers or with a private, hand-selected group. Password-protect your galleries to keep images private or share them with a select few.

  .intro.left.no-padding-right
    = image_tag("/assets/intro-phone-take-pic.jpg")
    .header.text.black.bold
      Sync Your Files.
    .info.text.gray.font12.line18
      The website runs simultaneously alongside the app, meaning you can upload imagery from your computer, other cameras, or apps into your galleries. Simply set up sharing within the UPLO app or website to begin.

