- content_for :head do
  = stylesheet_link_tag("scss/banner.css")

- content_for :banner do
  - render :partial => "home/banners/the_app"

- content_for :top_content do
  .text.black.bold.font24.line18.center{ :style => 'margin:10px 0;' }
    Feature & Gallery
  .line-separator.left

.wrapper.the-app
  .intro.left.no-padding-left
    = image_tag("/assets/intro-phone-app.jpg")
    .header.text.black.bold
      Lorem.
    .info.text.gray.font12.line18
      Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labone et dolore magna aliqua. Ut enim ad mimim veniam.

  .intro.left
    = image_tag("/assets/intro-phone-take-pic.jpg")
    .header.text.black.bold
      Dolor Sit Amet.
    .info.text.gray.font12.line18
      Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labone et dolore magna aliqua. Ut enim ad mimim veniam.

  .intro.left.no-padding-right
    = image_tag("/assets/intro-phone-features.jpg")
    .header.text.black.bold
      Consectetur Elit.
    .info.text.gray.font12.line18
      Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labone et dolore magna aliqua. Ut enim ad mimim veniam.

  .intro.left.no-padding-left
    = image_tag("/assets/intro-phone-like-comment.jpg")
    .header.text.black.bold
      Adipiscing.
    .info.text.gray.font12.line18
      Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labone et dolore magna aliqua. Ut enim ad mimim veniam.

  .intro.left
    = image_tag("/assets/intro-phone-order.jpg")
    .header.text.black.bold
      Elit Sed Do.
    .info.text.gray.font12.line18
      Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labone et dolore magna aliqua. Ut enim ad mimim veniam.

  .intro.left.no-padding-right
    = image_tag("/assets/intro-phone-sales.jpg")
    .header.text.black.bold
      Tempor Incididunt.
    .info.text.gray.font12.line18
      Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labone et dolore magna aliqua. Ut enim ad mimim veniam.


