- content_for :head do
  = javascript_include_tag("lib/jail.min.js")
  = javascript_include_tag("app/gallery.js", 'lib/jquery.inputHintOverlay.js')
  = stylesheet_link_tag("scss/new_image.css")

- content_for :top_content do
  .text.bold.font16.line12.left{ :style => 'padding-top:9px;' }
    %span.text.black Browse /
    %span.text.gray All Images
  = render(:partial => "shared/search_box_new", :locals => {:action => "search"})

.wrapper.images-wrapper.left
  - if @images.blank?
    .empty-data= "There is no image. Please add image."
  - else
    - (0...@images.length). each do |idx|
      - image = @images[idx]
      - url = url_for(:controller => "images", :action => "browse", :id => "#{image.id}")
      - additional_class = (idx%6 == 0) ? "no-padding-left" : ((idx%6==5) ? "no-padding-right" : "")
      .image-container.thumb{:id => "image-container-#{image.id}", :title=>"#{image.name}", :class => "#{additional_class}"}
        %a{ :href => "#{url}" }
          = async_image_tag(image.data.url(:thumb), :class => "image-thumb image thumb")
= render_pagination(@images, {:controller => "home", :action => params[:action]})

:erb
  <script type="text/javascript">
    gallery.setup();
  </script>
