<%= content_for :top_content do %>
  <div class="text black bold font16 left">Send An Invitation</div>
  <div class="line-separator left">
<% end %>
<div class="wrapper">
  <%= simple_form_for @gallery_invitation, :url => gallery_gallery_invitations_path(@gallery), :html => { } do |f| %>
  <div class="info">
    <% if @failed_list.present? %>
      <%= f.input :emails, input_html: { id: 'gallery-inv-email', value: @failed_list.join(', ')  } %>   
    <% else %>
      <%= f.input :emails, input_html: { id: 'gallery-inv-email' } %>   
    <% end %>
  </div>
  <div class="info">    
    <%= f.input :message, input_html: { id: 'gallery-inv-message' } %>
  </div>
  <div class="line-separator left"></div>
  <%= f.submit 'Send' %>
  <% end %>
</div>
