- content_for :head do
  = stylesheet_link_tag("scss/cart_new.css")

.wrapper
  = simple_form_for(:card, :url => "/payments/checkout?type=an", :html => {:class => "card_form", :id => 'order-shippings'}) do |f|
    #billing-address.order_summary.left{:style => "height:430px;"}
      .header
        %span Billing Address
        .italic.right
          %span{:style=>'color:red;'} *&nbsp;
          Required Fields
      .line-separator.clear &nbsp;
      .inputs
        .info
          = label_tag :billing_first_name, "First Name <span style='color:red;'>*</span>".html_safe
          = text_field :billing, :first_name, :autofocus => true, :required => true
        .info
          = label_tag :billing_last_name, "Last Name <span style='color:red;'>*</span>".html_safe
          = text_field :billing, :last_name, :required => true
        .info
          = label_tag :billing_company, "Company"
          = text_field :billing, :company, :required => false
        .info
          = label_tag :billing_street_address, "Street Address <span style='color:red;'>*</span>".html_safe
          = text_field :billing, :street_address, :required => true
        .info
          = label_tag :billing_city, "City <span style='color:red;'>*</span>".html_safe
          = text_field :billing, :city, :required => true
        .info
          = label_tag :billing_zip, "PortalZip Code <span style='color:red;'>*</span>".html_safe
          = text_field :billing, :zip, :required => true
        .info
          = label_tag :shipping_state, "State <span style='color:red;'>*</span>".html_safe
          = text_field :shipping, :state, :required => true
        .info{:style => "height: 30px; padding-top: 5px;"}
          = label_tag :billing_country, "Country"
          = select_tag :country, options_for_select({"USA" => "USA", "Canada" => "Canada"}, "USA")
        .info
          = label_tag :billing_phone, "Phone Number <span style='color:red;'>*</span>".html_safe
          = text_field :billing, :phone, :as => :string, :required => false, :onchange => "validateNumber()"
        .info
          = label_tag :billing_fax, "Fax Number <span style='color:red;'>*</span>".html_safe
          = text_field :billing, :fax
        .info
          / = hidden_field_tag 'billing[ship_to_billing]', 0
          %input{ :type => 'checkbox', :name => 'billing[ship_to_billing]', :value => '1', :id => 'billing_ship_to_billing', :class => 'left', :style => 'margin: 6px 5px 0 0;', :checked => 'checked' }
          = label_tag :billing_ship_to_billing, 'Ship Items to the Above Billing Address', :style => 'width:280px;', :class => 'left'

    .left
      #shipping-address.order_summary.left{:style => "height:auto;min-height: 100px;"}
        .header Shipping Address
        .line-separator.clear &nbsp;
        .edit{:style => 'font-size:13px;'}
          %span Item(s) will be shipped to your billing address
          %a.right{:href => '#'} Edit
        .inputs.hide
          .info
            = label_tag :shipping_first_name, "First Name <span style='color:red;'>*</span>".html_safe
            = text_field :shipping, :first_name, :autofocus => true, :required => true
          .info
            = label_tag :shipping_last_name, "Last Name <span style='color:red;'>*</span>".html_safe
            = text_field :shipping, :last_name, :required => true
          .info
            = label_tag :shipping_company, "Company"
            = text_field :shipping, :company, :required => false
          .info
            = label_tag :shipping_street_address, "Street Address <span style='color:red;'>*</span>".html_safe
            = text_field :shipping, :street_address, :required => true
          .info
            = label_tag :shipping_city, "City <span style='color:red;'>*</span>".html_safe
            = text_field :shipping, :city, :required => true
          .info
            = label_tag :shipping_zip, "PortalZip Code <span style='color:red;'>*</span>".html_safe
            = text_field :shipping, :zip, :required => true
          .info
            = label_tag :shipping_state, "State <span style='color:red;'>*</span>".html_safe
            = text_field :shipping, :state, :required => true
          .info{:style => "height: 30px; padding-top: 5px;"}
            = label_tag :shipping_country, "Country <span style='color:red;'>*</span>".html_safe
            = select_tag :country, options_for_select({"USA" => "USA", "Canada" => "Canada"}, "USA")
          .info
            = label_tag :shipping_phone, "Phone Number <span style='color:red;'>*</span>".html_safe
            = text_field :shipping, :phone, :as => :string, :required => false, :onchange => "validateNumber()"
          .info
            = label_tag :shipping_fax, "Fax Number"
            = text_field :shipping, :fax

      .order_summary.clear{:style => "padding-top:20px;"}
        .header
          %span Payment Information
          .italic.right
            %span{:style=>'color:red;'} *&nbsp;
            Required Fields
        .line-separator.clear &nbsp;
        .inputs
          .info
            = f.label :name_on_card, "Name on Card <span style='color:red;'>*</span>".html_safe
            = f.input :name_on_card, :autofocus => true, :required => true, :label => false
          .info{:style => "height: 30px;"}
            = f.label :card_type, "Card Type <span style='color:red;'>*</span>".html_safe
            = f.select :card_type, options_for_select({"American Express" => "USA_express", "Discover" => "discover", "Visa" => "visa", "JCB" => "jcb", "Diners Club/ Carte Blanche" => "dinners_club", "Master Card" => "master_card"}, "visa")
          .info
            = f.label :card_number, "Card Number <span style='color:red;'>*</span>".html_safe
            = f.input :card_number, :autofocus => true, :required => true, :label => false
          .info.expiration-date{:style => "height: 30px;"}
            = f.label :expires_on, "Expiration Date <span style='color:red;'>*</span>".html_safe
            = f.date_select :expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => false, :order => [:month, :year], :required => true, :label => false
          .info
            = f.label :ccv, "CCV <span style='color:red;'>*</span>".html_safe
            %span{:style=>'color:red;'} *
            = f.input :ccv, :autofocus => true, :required => true, :label => false
          = hidden_field_tag :order_id, @order.id

    #order-summary.order_summary.no-padding-right.left{:style => "height:auto;min-height: 100px;"}
      .header
        Order Summary
      .solid-block.left
        - subtotal = 0
        - tax_total = 0
        - @order.line_items.each do |line_item|
          - subtotal += line_item.price
          - tax_total += line_item.tax
          .block.left
            .text.bold.left= line_item.image.name
            .text.normal.left.no-background
              .left QTY
              .bold.right= line_item.quantity
            .text.normal.left
              .left PRICE
              .bold.right= number_to_currency line_item.price
            .text.normal.left.no-background
              .left TAX
              .bold.right= number_to_currency line_item.tax
        .line-separator.clear &nbsp;
        .summary.right
          .text.right
            .bold.left Subtotal:
            .bold.right= number_to_currency subtotal
          .text.right.clear
            .left Tax:
            .right= number_to_currency tax_total
          .text.right.clear
            .left Shipping & Handling:
            .right Free

        .line-separator.clear &nbsp;
        .summary.right
          .text.right.clear
            .bold.left Grand Total:
            .bold.right= number_to_currency(tax_total + subtotal)
        .line-separator.clear &nbsp;
        .submit.right

- content_for :js do
  - javascript_tag do
    :erb
      $("#shipping_phone").keypress(function (event) {
        if (!event.charCode) return true;
        var reg = /^\d*$/;
        var part1 = this.value.substring(0,this.selectionStart);
        var part2 = this.value.substring(this.selectionEnd,this.value.length);
        if (!reg.test(part1 + String.fromCharCode(event.charCode) + part2)){
          return false;
        }
      });
      $("#address_phone").keypress(function (event) {
        var reg = /^\d*$/;
        if (!event.charCode) return true;
        var part1 = this.value.substring(0,this.selectionStart);
        var part2 = this.value.substring(this.selectionEnd,this.value.length);
        if (!reg.test(part1 + String.fromCharCode(event.charCode) + part2)){
          return false;
        }
      });
      $("#shipping_fax").keypress(function (event) {
        if (!event.charCode) return true;
        var reg = /^\d*$/;
        var part1 = this.value.substring(0,this.selectionStart);
        var part2 = this.value.substring(this.selectionEnd,this.value.length);
        if (!reg.test(part1 + String.fromCharCode(event.charCode) + part2)){
          return false;
        }
      });
      $("#address_fax").keypress(function (event) {
        var reg = /^\d*$/;
        if (!event.charCode) return true;
        var part1 = this.value.substring(0,this.selectionStart);
        var part2 = this.value.substring(this.selectionEnd,this.value.length);
        if (!reg.test(part1 + String.fromCharCode(event.charCode) + part2)){
          return false;
        }
      });
      $("#shipping_zip").keypress(function (event) {
        var reg = /^\d{0,5}$/;
        if (!event.charCode) return true;
        var part1 = this.value.substring(0,this.selectionStart);
        var part2 = this.value.substring(this.selectionEnd,this.value.length);
        if (!reg.test(part1 + String.fromCharCode(event.charCode) + part2)){
          return false;
        }
      });
      $("#address_zip").keypress(function (event) {
        var reg = /^\d{0,5}$/;
        if (!event.charCode) return true;
        var part1 = this.value.substring(0,this.selectionStart);
        var part2 = this.value.substring(this.selectionEnd,this.value.length);
        if (!reg.test(part1 + String.fromCharCode(event.charCode) + part2)){
          return false;
        }
      });
      $('#shipping-address .edit a').bind('click', function(){
        $('#shipping-address .inputs').removeClass('hide').addClass('show');
        $('#shipping-address .edit').removeClass('show').addClass('hide');
        $('#billing_ship_to_billing').attr('checked', true);
      });
      $('#billing_ship_to_billing').bind('click', function(){
        if($(this).attr('checked') == 'checked'){
          $('#shipping-address .inputs').removeClass('hide').addClass('show');
          $('#shipping-address .edit').removeClass('show').addClass('hide');
        } else {
          $('#shipping-address .inputs').removeClass('show').addClass('hide');
          $('#shipping-address .edit').removeClass('hide').addClass('show');
        }
      });
      $('.submit').bind('click', function(){
        if($('#shipping-address .edit.hide').length==0) {
          $('#shipping-address .inputs').text("");
        }
        $('#order-shippings').submit();
      });

