- content_for :body_class, 'order-detail-page'
- content_for :top_content do
  .text.black.bold.font16.left Order ##{@order.id}
  .line-separator.left

.wrapper

  %h2 Order Date: #{l @order.transaction_date, format: :default}
  .line-separator
  - @order.line_items.each do |line_item|
    .left
      = image_tag line_item.image.url(:thumb)
      %p
        Photo Name:
        = formatted_image_name(line_item.image)
      %p
        Price:
        = number_to_currency line_item.price
  .line-separator.clear
  %p
    Tax:
    = number_to_currency(@order.tax || 0)
  %br
  %p
    S&H:
    = number_to_currency @order.shipping_fee
  %br
  %h2
    Order Total:
    = number_to_currency @order.order_total

  %br
  %p
    Questions about this order? #{link_to 'Contact Us', 'mailto:support@uplo.com'}