= render :partial => "admin/admin_menu"

#incoming-invites.left
  .header
    .text.black.bold.font16.left Incoming Invites
    #btn-accept-all.button.accept-all.left
  .line-separator.left
  #emails-container
    = render :partial => 'emails_for_invite', :locals => { :emails => @inv_requests }
    = render_pagination(@inv_requests)
#outgoing-invites.right
  .header
    .text.black.bold.font16.left Outgoing Invites
    .text.left#email_invitation_warning{:style => "color:red; line-height:18px; margin-left:10px"}
  .line-separator.left
  = form_for :inv, :url => 'send_invitation', :html => {:id => 'frm-invite'} do |f|
    .line.left
      = f.label :inv_emails, 'Email Address', :class => 'text black bold font12 left'
      = f.text_field :emails, :title => 'username1@url.com, username2@url.com,...', :class => 'right'
    .line.left
      = f.label :inv_message, 'Message', :class => 'text black bold font12 left'
      = f.text_area :message, :class => 'right'
    #btn-invite.button.send-invite.left
