.cart-details
  .header.text.black.bold.font11.line18.left
    .cell.left.preview ITEM
    .cell.left SIZE
    .cell.left MOULDING
    .cell.left QTY
    .cell.left PRICE
    / .cell.left TAX
    .cell.left.subtotal SUBTOTAL


  - total_quantity = 0
  - @line_items.each do |line_item|
    - unless line_item.image.nil?
      - total_quantity += line_item.quantity.to_i
      - image = line_item.image
      - line_price = line_item.price * line_item.quantity.to_i
      / # - line_tax = line_item.price * line_item.quantity.to_i * PER_TAX
      .line.left
        .cell.left.preview
          .image-container.small.no-padding.left= image_tag image.url(:smallest), :class => 'image smallest'
          .item-info.text.black.line18.left
            .name.text.bold.font12= image.name.truncate(40)
            - if (image.flagged? || image.removed?)
              .text.bold.font12{:style => "color:red"}Unavailable
            .edit-section
              .icon.edit.left
              %a.text.font11.left{:href => "#{url_for(:controller => 'images', :action => 'order', :id => image.id, :line_item => line_item.id)}"} Edit
            .delete-section{:data => {:id => "#{line_item.id}",:url => "#{url_for(:controller => 'shopping_cart', :action => 'destroy_item')}"}}
              .icon.delete.text.font20.left &times;
              .text.font11.left Remove
        .cell.text.gray.font12.line18.left
          = line_item.size
        .cell.text.gray.font12.line18.left
          = GalleriesHelper::MOULDING_DISPLAY[line_item.moulding]
        .cell.text.gray.font12.line18.left
          = line_item.quantity
        .cell.text.gray.font12.line18.left
          = number_to_currency(line_price, {:precision => 2})
        .cell.text.gray.font12.line18.left.subtotal
          = number_to_currency(line_price, {:precision => 2})

  .footer.text.black.line18.left
    .right.summary
      .cell.text.bold.font14.left Cart Total:
      #cart-total.cell.subtotal.text.bold.font14.left= number_to_currency(@order.price_total, {:precision => 2})
    .line-separator.left

