- content_for :head do
  = stylesheet_link_tag("scss/cart_new.css", "scss/dialog.css", 'scss/new_image.css')

- content_for :top_content do
  .text.black.bold.font16 Shopping Cart
  .line-separator

.wrapper
  - if @line_items.empty?
    .left{:style => 'min-height:100px;'} Your cart is current empty.
  - else
    = render :partial => "show_details"

  - if @line_items.empty?
    .line-separator.clear
    .actions.text.font12.line18.right
      = link_to "Continue shopping", "/back", :method => "get", :class => 'shopping left'
  - else
    .actions.text.font12.line18.right
      .right.text.gray.italic
        Shipping is Calculated at the Next Step, Before You Pay
      .shopping.right.clear{ :style => 'margin-top:20px;' }
        = link_to "Continue shopping", "/back", :method => "get", :class => 'shopping left'
        .text.gray.left{:style => 'line-height: 28px;'} &nbsp;&nbsp;or&nbsp;&nbsp;
        - unless @order.line_items.empty?
          %a.checkout.left{:href => "#{url_for(:controller => 'shopping_cart', :action => 'checkout')}"}

= render :partial => 'shared/delete_confirm', :layout => 'layouts/popup', :locals => { :title => 'Delete Confirm', :id => 'delete-confirm-popup', :text => 'Are you sure you want to remove this item?' }

- content_for :js do
  = javascript_include_tag 'app/shopping_cart.js'
