- content_for :head do
  = stylesheet_link_tag("scss/cart.css", "scss/dialog.css")
  = javascript_include_tag("app/popup.js")

%h1 Shopping Cart


- if @line_items.empty?
  Your cart is current empty.
- else
  Here is content of your cart

  .solidBlock.round-box
    = render :partial => "show_details"
 
.button-container
  = button_to_function "Clear cart", "clearCartConfirm()", 
      :id => "btn_clear", :class => 'btn left-btn',
      :data => {:url => "#{ url_for({:controller => "shopping_cart",:action => "clear", :only_path => false}) }"} unless @order.line_items.empty?

  = button_to "Continue shopping", "/back", :method => "get", :class => 'btn left-btn'
  = button_to("Checkout", {:controller => "shopping_cart", :action => "checkout"}, :method => "get", :class => 'btn left-btn') unless @order.line_items.empty?
  
:javascript
  $(".lines .option").delegate("a.delete", "click", function(){
    confirmDlg = new Popup({
      id: "delete-confirm-dialog",
      title: "Delete confirm",
      text: "Are you sure?",
      buttons:{
        "Cancel": function(){
          confirmDlg.close();
        },
        "Ok": function(){
          url = $("a.delete").attr("href");
          window.location = url;
        }
      }
    });
    
    confirmDlg.show();
    return false;
  });
  
  function clearCartConfirm(){
    confirmDlg = new Popup({
      id: "clear-confirm-dialog",
      title: "Clear cart confirm",
      text: "Are you sure?",
      buttons:{
        "Cancel": function(){
          confirmDlg.hide();
        },
        "Ok": function(){
          url = $("#btn_clear").attr("data-url");
          window.location = url;
        }
      }
    });
    confirmDlg.show();
  }
