- content_for :head do
  = stylesheet_link_tag("scss/cart_new.css", "scss/dialog.css")
  = javascript_include_tag("app/popup.js")

- content_for :top_content do
  .breadcrum Shopping Cart
  .line-separator &nbsp;

- if @line_items.empty?
  Your cart is current empty.
- else
  = render :partial => "show_details_new"

.actions.right
  .right.italic{:style => "font-size: 12px;"}
    Shipping is Calculated at the Next Step, Before You Pay
  .right.clear{:style => "line-height:50px;"}
    .shopping.left= link_to "Continue shopping", "/back", :method => "get"
    .left &nbsp;or&nbsp;
    - unless @order.line_items.empty?
      %a.checkout.left{:href => "#{url_for(:controller => 'shopping_cart', :action => 'checkout')}"}

:javascript
  $(".lines .option").delegate("a.delete", "click", function(){
    confirmDlg = new Popup({
      id: "delete-confirm-dialog",
      title: "Delete confirm",
      text: "Are you sure?",
      buttons:{
        "Cancel": function(){
          confirmDlg.close();
        },
        "Ok": function(){
          url = $("a.delete").attr("href");
          window.location = url;
        }
      }
    });

    confirmDlg.show();
    return false;
  });

  function clearCartConfirm(){
    confirmDlg = new Popup({
      id: "clear-confirm-dialog",
      title: "Clear cart confirm",
      text: "Are you sure?",
      buttons:{
        "Cancel": function(){
          confirmDlg.hide();
        },
        "Ok": function(){
          url = $("#btn_clear").attr("data-url");
          window.location = url;
        }
      }
    });
    confirmDlg.show();
  }
