<%= render partial: 'admin/admin_menu' %>

<style type="text/css">
  #actions {
    margin-bottom: 30px;
  }

  #actions a {
    background-color: #ddd;
    border: 1px solid #999;
    padding: 10px;
  }
</style>

<div id="actions">
  <%= link_to "Back to Products", admin_products_path %>
  <%= link_to "Add New Size", new_admin_size_path %>
</div>

<ul>
  <% @sizes.each do |size| %>
    <li><%= link_to size.to_name, edit_admin_size_path(size) %> (<%= size.width %> x <%= size.height %>)</li>
  <% end %>
</ul>

<% if @sizes.any? %>
  <br/>
  <p>
    <%= link_to "Rebuild all member uploaded photos", rebuild_photos_admin_sizes_path %><br/>Use this option whenever you've added or edited existing sizes. The rebuilding process happens in the backend and may take a while before all renditions are generated.
  </p>
<% end %>