<%= page_title 'Products' %>
<%= render partial: 'admin/admin_menu' %>

<style type="text/css">
  #actions {
    margin-bottom: 30px;
  }

  #actions a {
    background-color: #ddd;
    border: 1px solid #999;
    padding: 10px;
  }

  #product_options {
    width: 100%
  }

  #product_options thead th {
    padding-bottom: 10px
  }

  #product_options th {
    text-align: left;
  }

  #product_options td {
    border: 1px solid #ddd;
    padding: 6px;
  }
</style>

<div id="actions">
  <%= link_to "Add New Product", new_admin_product_path %>
  <%= link_to('Manage Print Sizes', admin_sizes_path) %>
  <%= link_to('Manage Mouldings', admin_mouldings_path) %>
</div>

<table id="product_options">
<thead>
  <tr>
    <th>Size</th>
    <th>Moulding</th>
    <th>Frame<br/>Options</th>
    <th>Tier 1<br/>Price</th>
    <th>Tier 1<br/>Comm.</th>
    <th>Tier 2<br/>Price</th>
    <th>Tier 3<br/>Comm.</th>
    <th>Tier 3<br/>Price</th>
    <th>Tier 3<br/>Comm.</th>
    <th>Tier 4<br/>Price</th>
    <th>Tier 4<br/>Comm.</th>
    <th>Public</th>
    <th>Private</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% Product.all.each do |product| %>
  <tr>
    <td><%= product.size.to_name %></td>
    <td><%= product.moulding.name %></td>
    <td>
      <ul>
      <% product.product_options.each do |po| %>
        <li><%= po.description %></li>
      <% end %>
      </ul>
    </td>
    <td><%= number_to_currency product.tier1_price %></td>
    <td><%= number_to_percentage product.tier1_commission, precision: 1 %></td>
    <td><%= number_to_currency product.tier2_price %></td>
    <td><%= number_to_percentage product.tier2_commission, precision: 1 %></td>
    <td><%= number_to_currency product.tier3_price %></td>
    <td><%= number_to_percentage product.tier3_commission, precision: 1 %></td>
    <td><%= number_to_currency product.tier4_price %></td>
    <td><%= number_to_percentage product.tier4_commission, precision: 1 %></td>
    <td><%= yes_or_no product.public_gallery %></td>
    <td><%= yes_or_no product.private_gallery %></td>
    <td>
      <%= link_to 'Edit', edit_admin_product_path(product) %>
      <% unless product.associated_with_any_orders? %>
        | <%= link_to 'Delete', admin_product_path(product), method: :delete, confirm: 'Are you sure?' %>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
