<%= render partial: 'admin/admin_menu' %>

<style type="text/css">
#new_product a {
  margin-left: 10px
}
</style>

<h1>Add a New Product</h1>

<%= simple_form_for [:admin, product] do |f| %>
  <%= f.association :tier, hint: link_to('Manage tiers', admin_tiers_path) %>
  <%= f.association :size, hint: link_to('Manage sizes', admin_sizes_path) %>
  <%= f.association :moulding, hint: link_to('Manage mouldings', admin_mouldings_path) %>
  <%= f.input :price %>
  <%= f.input :commission %>
  <%= f.submit %>
<% end %>