#reset_password
  %br
  .info
    Please enter your new password below.
  %br
  %br
  = simple_form_for(current_user, :url => password_path(current_user), :html => { :method => :put , :class => "simple_form"}) do |f|
    = f.input :reset_password_token, :as => :hidden
    = f.full_error :reset_password_token
    .inputs
      = f.full_error :password
      .cover
        = f.label :password, "New Password"
        = f.password_field :password
      %br
      = f.full_error :password_confirmation
      .cover
        = f.label :password_confirmation, "Confirm Password"
        = f.password_field :password_confirmation


    .actions{:style => "text-align:left"}
      = f.submit "", :style => "width:154px; height:29px; background:url(/assets/bg-reset-password.png) no-repeat transparent; background-position:center;"