= form_for(gallery, :html => {:id => 'frm-edit-gallery', :class => "gallery-form left"}) do |f|
  .info-line.left.no-padding-top
    .label.text.black.bold.font12.left= "Gallery Name &nbsp;<span style='color:red;'>*</span>".html_safe
    = f.text_field :name, :class => 'left', :value => gallery.name
  .info-line.left
    .label.text.black.bold.font12.left Description
    = f.text_area :description, :class => 'left', :value => gallery.description
  .info-line.left
    .label.text.black.bold.font12.left Tags
    = f.text_area :keyword, :class => 'left', :value => gallery.keyword
  .info-line.left.no-padding-bottom
    .label.text.black.bold.font12.left Permission
    = f.select :permission, Permission.select_options, {:value => gallery.permission}, { :class => 'left' }
    %span.note.text.gray.italic.font11= "&nbsp;<span style='color:red;'>*</span> Required Field".html_safe
  .info-line.left.no-padding-bottom{:id => "has-commission", :style => (gallery.is_public? ? 'display:none;' : '')}
    = f.check_box :has_commission
    = f.label :has_commission, "Earn commissions on sales in this private gallery", :class => "text gray font11 line16 left"

.line-separator.left
#button-container
  #btn-gallery-save.button.save.left
  .close.button.cancel.left

:erb
  <script type="text/javascript">
  $(document).on('click', '#btn-gallery-save', function(e){
    e.preventDefault();
    $.ajax({
      url: $('#frm-edit-gallery').attr('action'),
      type: 'POST',
      data: $('#frm-edit-gallery').serialize(),
      dataType: 'json',
      success: function(response) {
        if(response.success) {
          $('#gallery_selector_id').html(response.gallery_options);
          $('select').selectmenu({ style: 'dropdown' });
          helper.show_notification("Gallery updated!");
          $.modal.close();
          $('#edit-gallery-popup').replaceWith(response.edit_popup);
          $('#gallery_selector_id').html(response.gal_with_number_options);
          $('.edit-template #image_gallery_id').each(function(idx, val){
            $(val).html(response.gallery_options);
          });
          $('select[id=gallery_permission]').selectmenu({ style: 'dropdown' });
        } else {
          helper.show_notification(response.msg);
        }
      }
    });
  });
  </script>
