//local values: gallery
= form_for(gallery, :html => {:id => 'frm-edit-gallery', :class => "gallery-form left"}) do |f|
  .info-line.left.no-padding-top
    .label.text.black.bold.font12.left= "Gallery Name &nbsp;<span style='color:red;'>*</span>".html_safe
    = f.text_field :name, :class => 'left', :value => gallery.name
  .info-line.left
    .label.text.black.bold.font12.left Description
    = f.text_area :description, :class => 'left', :value => gallery.description
  .info-line.left
    .label.text.black.bold.font12.left Key Words
    = f.text_area :keyword, :class => 'left', :value => gallery.keyword
  .info-line.left.no-padding-bottom
    .label.text.black.bold.font12.left Permission
    = f.select :permission, gallery_permissions_options, {:value => gallery.permission}, { :class => 'left' }
    .note.text.gray.italic.font11.left= "&nbsp;<span style='color:red;'>*</span> Required Field".html_safe
.line-separator.left
#button-container
  #btn-gallery-save.button.save.left
  .close.button.cancel.left
