-products = image.available_products.group_by(&:moulding)

= form_for(image, :url => tier_image_path(image), :method => :put, :html => { :id => 'frm-pricing', :class => 'left' }) do |f|

  .frame-fit.left
    .cell.header.text.black.bold.font11.left
    - (1..4).each do |tier_id|
      .type.cell.header.text.black.bold.font11.left
        = f.radio_button :tier_id, tier_id, :checked => (image.tier_id == tier_id)
        = f.label "tier_id_#{tier_id}", "Tier #{tier_id}", :class => 'text gray font11'

  - products.each do |moulding, products|
    .price-tab{:id => "tab-#{moulding.id}"}
      - products.each do |product|
        .frame-fit.left
          .cell.text.black.bold.font11.left= product.size.to_name
          .cell.text.black.bold.font11.left= number_to_currency product.tier1_price, precision: 0
          .cell.text.black.bold.font11.left= number_to_currency product.tier2_price, precision: 0
          .cell.text.black.bold.font11.left= number_to_currency product.tier3_price, precision: 0
          .cell.text.black.bold.font11.left= number_to_currency product.tier4_price, precision: 0
  %ul#tabs
    - products.each do |moulding, products|
      %li
        %a.tab.text.black.bold.font11.left{:href => "#tab-#{moulding.id}"}= moulding.name
