- content_for :top_content do
  .left
    .top-nav.text.black.bold.font16.line12.left My Gallery /
    = select :gallery_selector, :id, gallery_options(current_user, params[:gallery_id], true), { :class => 'left' }
  .top-nav
    .actions-panel.right
      %a#edit-gallery.left{ :href => '#' } Edit Gallery Info
      .separator.left= '|'
      %a#delete-gallery.left{ :href => gallery_path(@gallery), :data => { :method => :delete, :confirm => I18n.t("gallery.delete_confirm") } } Delete Gallery
      .separator.left= '|'
      #add-files.hidden-uploader.text.black.bold.font12.left{ :data => { :method => :get } }
        Add Files
        = form_for :image, :url=>"/galleries/#{@gallery.id}/images", :method => 'post', :html => { :multipart => true, :id => 'fileupload' } do |f|
          = f.file_field :data, :multiple => true
  .line-separator.left

.wrapper.left
  .right
    .pagination-panel.left
      = render :partial => 'pagination', :locals => { :source => @images, :params => { :controller => 'galleries', :action => 'edit_images', :gallery_id => @gallery.id }, :classes => 'text left' }
    .button.save-grid-changes.left
  .line-separator.left
  #images-panel.container.left
    - if @images.blank?
      .empty-data= 'There is no image in this gallery. Please add image.'
    - else
      = render :partial => 'edit_photos', :locals => { :images => @images }
  .right
    .pagination-panel.left
      = render :partial => 'pagination', :locals => { :source => @images, :params => { :controller => 'galleries', :action => 'edit_images', :gallery_id => @gallery.id }, :classes => 'text left' }
    .button.save-grid-changes.left

= render :partial => 'edit_gallery', :layout => 'layouts/popup', :locals => { :title => 'Edit Your Gallery Infomation', :id => 'edit-gallery-popup', :gallery => @gallery }
= render :partial => 'delete_confirm', :layout => 'layouts/popup', :locals => { :title => 'Delete Confirm', :id => 'delete-confirm-popup', :text => 'Are you sure you want to delete this photo?' }
= render :partial => 'grid_changes_confirm', :layout => 'layouts/popup', :locals => { :title => 'Save Changes', :id => 'save-confirm-popup' }
= render :partial => 'pricing', :layout => 'layouts/bubble', :locals => { :id => 'pricing-form' }

- content_for :js do
  :erb
    <script>
      if(<%= !params[:gallery_id].blank? && @gallery.images.un_flagged.count == 0 %>){
        $('#image_data').click()
      }
    </script>
