- content_for :top_content do
  .text.black.bold.font16.line12.left{ :style => 'margin-top:10px;' } My Galleries
  %a#new-gallery.right{ :href => '/galleries/new' }

.images-wrapper.wrapper.left
  #gallery-form-container.clearfix.hidden{:style => "display: none"}
    = render(:partial => "form", :locals => {:gallery => @gallery})

  - if @galleries.blank?
    .empty-data= "There is no gallery. Let create one."
  - else
    - (0...@galleries.length). each do |idx|
      - gallery = GalleryDecorator.new(@galleries[idx])
      - additional_class = (idx%6 == 0) ? "no-padding-left" : ((idx%6==5) ? "no-padding-right" : "")
      .gallery-container.left{ :id => "gallery-container-#{gallery.id}", :class => "#{additional_class}" }
        %a.image-container.thumb{ :href => gallery_images_path(gallery), :title=>"#{gallery.name}" }
          = async_image_tag(gallery_cover_image_url(gallery), :class => "gallery-cover-image image thumb")
        .gallery-info.text.font11.line16.clear
          .text.black.bold.name{:title => gallery.name}=raw gallery.name.truncate(25)
          .text.gray.photo-number= (gallery.images.unflagged.length > 0 ? pluralize(gallery.images.unflagged.length, "Image") : "No Image")
          .text.gray.update-time= "Last Updated: #{gallery.updated_at_string}"
          .text.fuzzy-gray.permission= gallery.permission.to_s
          %a.share-link.text.normal{ :id => "share-context-menu-#{gallery.id}", :href=>'#', :data => { :public_url => "#{gallery.public_link}", :cover_url => "#{gallery_cover_image_url(gallery)}", :email_url => "#{ url_for(:controller => 'galleries', :action => 'mail_shared_gallery', :gallery_id => gallery.id) }",
            :sharing_url =>  "#{ url_for(:controller => 'socials', :action => 'share', :gallery_id => gallery.id) }",
           :gallery_name => "#{gallery.name.truncate(20)}", :gallery_user => "#{gallery.user.username.truncate(15)}" } } Share
  = render_pagination(@galleries, {:controller => "galleries", :action => params[:action]})

= render :partial => 'sharing_box'

- content_for :js do
  = javascript_tag do
    :erb

      function showSocialPopup(class_name){
        $('#social-sharing').addClass('hide');
        $("#social-sharing-popup").modal();
        $("#social-sharing-popup .header .left").first().html("<div class='" + class_name + "-icon left'></div>");
        $("#social_type_social").val(class_name);

        if(window.selected_gallery != null) {
          var action_url = window.selected_gallery.attr('data-sharing_url');
          var cover_image = window.selected_gallery.attr('data-cover_url');
          var img = $('#photo_thumbnail_social_sharing');
          $(img).attr('src', cover_image);
          gallery_name = window.selected_gallery.attr('data-gallery_name');
          gallery_username = window.selected_gallery.attr('data-gallery_user');
          $('#sharing-details').attr('action', action_url);
          $('#object_name').html(gallery_name);
          $('#object_owner_name').html('by ' + gallery_username);
        }

      };

      $('.sharing-popup .cancel').click(function(){
        $.modal.close();
      });

      $('.sharing-popup .close').click(function(){
        $.modal.close();
      });

      gallery.setup();

      $('#email-sharing-popup .close').click(function(){
        $.modal.close();
      });
      $('#social-sharing-popup .close').click(function(){
        $.modal.close();
      });
      $('#btn-cancel').click(function(){
        $.modal.close();
      });
      $('#btn-send').click(function(){
        var emails = $('#email_emails').val().split(',');
        var reg = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        for(var i=0; i < emails.lenght; i++){
          if( !reg.test(emails[i].trim()) ){
            helper.show_notification('Please enter an email address!');
            return false;
          }
        }
        $('#email-details').submit();
      });

      $('#btn-gallery-cancel').click(function(){
        $('#gallery-form-container').addClass('hidden');
      });
      $('#btn-gallery-save').click(function(){
        $('#frm-edit-gallery').submit();
      });

      $(function(){

        <% if (@gallery.errors && @gallery.errors.count > 0) %>
          $('#new-gallery').click();
        <% end %>
        $.contextMenu({
          selector: '.share-link',
          trigger: 'left',
          ignoreRightClick: true,
          items: {
            "email": {
              name: "Share via Email",
              icon: "email",
              callback: function(key, opt){
                window.selected_gallery = $(this);
                $('#email-sharing-popup').modal({
                  onShow: function(dialog) {
                    if(window.selected_gallery != null) {
                      var action_url = window.selected_gallery.attr('data-email_url');
                      var cover_image = window.selected_gallery.attr('data-cover_url');
                      var img = $('#photo_thumbnail_sharing');
                      $(img).attr('src', cover_image);
                      gallery_name = window.selected_gallery.attr('data-gallery_name');
                      gallery_username = window.selected_gallery.attr('data-gallery_user');
                      $('#email-details').attr('action', action_url);
                      $('#object_name_email').html(gallery_name);
                      $('#object_owner_name_email').html('by ' + gallery_username);
                    }
                  }
                });
              }
            },
            <% if !(current_user.facebook_token.blank?) %>
            "facebook": {
              name: "Share on Facebook",
              icon: "facebook",
              callback: function(key, opt, e){
                window.selected_gallery = $(this);
                showSocialPopup('facebook');
              }
            },
            <% end %>
            <% if !(current_user.twitter_token.blank?) %>
            "twitter": {
              name: "Share on Twitter",
              icon: "twitter",
              callback: function(key, opt, e){
                window.selected_gallery = $(this);
                showSocialPopup('twitter');
              }
            },
            <% end %>
            <% if !(current_user.tumblr_token.blank?) %>
            "tumblr": {
              name: "Share on Tumblr",
              icon: "tumblr",
              callback: function(key, opt, e){
                window.selected_gallery = $(this);
                showSocialPopup('tumblr');
              }
            },
            <% end %>
            <% if !(current_user.flickr_token.blank?) %>
            "flickr": {
              name: "Share on Flickr",
              icon: "flickr",
              callback: function(key, opt, e){
                window.selected_gallery = $(this);
                showSocialPopup('flickr');
              }
            }
            <% end %>
          }
        });
      });
