- content_for :head do
  = javascript_include_tag("lib/jail.min.js")
  = javascript_include_tag("app/gallery.js")
  
.galleries
  .clearfix
    #search-box-wrapper
      = render(:partial => "shared/search_box", :locals => {:action => url_for(:controller => "galleries", :action => "search")})
  .action-container.clearfix
    %a.float-right#new-gallery{:href => new_gallery_path, :class => "ui-button-container icon-link"}
      %span.round-button= "Add Gallery"
  
  #gallery-form-container.clearfix.round-box.hidden{:style => "display: none"}
    = render(:partial => "form")

  .galleries-wrapper.clearfix
    - if @galleries.blank?
      .empty-data= "There is no gallery. Let create one."
    - else
      - count = 0
      - @galleries.each do |gallery|
        .gallery-container{:id => "gallery-container-#{gallery.id}"}
          %a.gallery-image{:href => gallery_images_path(gallery)}
            %span.gallery-link.default
              = async_image_tag(gallery_cover_image_url(gallery), :class => "gallery-cover-image")
          .gallery-info
            .name{:title => gallery.name}=raw gallery.name
            .photo-number= (gallery.images.length > 0 ? pluralize(gallery.images.length, "image") : "No image")
            .update-time= "Last updated: #{gallery.updated_at_string}"
            .permission= gallery.permission_string.titleize
        
        - count = count + 1
        - if (count % 2 == 0)
          .separator.clearfix
      
  = render_pagination(@galleries, {:controller => "galleries", :action => params[:action]})

:erb
  <script type="text/javascript">
    gallery.setup();
  </script>
