- content_for :head do
  = javascript_include_tag("lib/jail.min.js")
  
= render :partial => "admin/admin_menu"

.admin.flagged-users.clearfix
  #top.title-bar.clearfix
    %h1.left.title= t('admin.flagged_users_area.title')
    .right
      .button.remove_all#remove_flagged_users
      .button.reinstate_all#reinstate_flagged_users
      .button.contact_all#contact_flagged_users
                      
  .content.clearfix
    - (@users + @users + @users + @users).each_with_index do |user, idx|
      - user_css = (((idx + 1) % 3) == 0 ? 'no-margin-right' : '')
      .user-container{:id => "user-container-#{user.id}", :class => user_css}
        - author_profile = profile_path(:user_id => user.id)
        %a.profile-link.left{:href => author_profile}
          = image_tag user.avatar_url(:large), :class => 'avatar large left'
        .user-info.left
          .username
            %a{:href => author_profile}= user.username
          .flagged-images
            - user.images.limit(3).each do |image|
              %span.flagged-image-thumb-container.left
                = image_tag image.data.url(:smallest), :class => 'flagged-image-thumb'
  
    = render_pagination(@users)

:erb
  <script type="text/javascript">
   $(document).ready(function(){
     $("#flagged_image_type").change(function(){
       $("#flag_type_form").submit();
     });
     $("#flagged_image_type-button").css("width", "160px").css("height", "20px");
     $("#flagged_image_type-menu").css("width", "160px");
     $("#flagged_image_type-button .ui-selectmenu-status").css("padding-top", "3px");
     $('#remove_flagged_images').click(function(){
       $('#flag_type_form').attr('action','<%= url_for(:action => :remove_all)%>');
       $("#flag_type_form").submit();
     });
     $('#reinstate_flagged_images').click(function(){
       $('#flag_type_form').attr('action','<%= url_for(:action => :reinstate_all)%>');
       $("#flag_type_form").submit();
     });
   });

   
  </script>
