- sort_by ||= params[:sort_by]
- filtered_by ||= params[:filtered_by]
- action ||= params[:action]
- controller ||= params[:controller]

.right
  = form_tag({:controller => controller, :action => action}, :method => 'get', :id => 'filtering-search-box') do
    = text_field_tag :query, params[:query], :class => 'left'
    .left= select_tag :filtered_by, search_filter_options(filtered_by)
    .button.search.left
    .sort.text.black.font11.left Sort by
    .left= select_tag :sort_by, search_sort_options(params[:filtered_by], sort_by), {include_blank: true} 

= javascript_tag do
  helper.setup_filtering_search()
