- (0...galleries.length). each do |idx|
  - gallery = GalleryDecorator.new(galleries[idx])
  - gal_items = gallery.images.unflagged.count
  - additional_class = line_item_additional_class(idx, galleries_per_line)

  .gallery-container.left{ :id => "gallery-container-#{ gallery.id }", :class => "#{ additional_class }" }
    %a.image-container.thumb{ :href => gallery_images_path(gallery), :title => "#{ gallery.name }" }
      = image_tag(gallery_cover_image_url(gallery), :class => "gallery-cover-image image thumb")
    .gallery-info.text.font11.line16.clear
      .text.black.bold.name{ :title => gallery.name }=raw gallery.name.truncate(22)
      .text.gray.photo-number= (gal_items > 0 ? pluralize(gal_items, "Image") : "No Image")
      .text.gray.update-time= "Last Updated: #{ gallery.updated_at_string }"
      .text.fuzzy-gray.permission= gallery.permission.to_s
    .buttons-container
      - facebook_gallery_url = "https://www.facebook.com/sharer.php?u=#{gallery_images_url(gallery)}"
      - twitter_gallery_url = "#{gallery_images_url(gallery)}"
      %a.facebook.button.left#share-facebook{ :href => facebook_gallery_url}
      %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no",
            :src  => "https://platform.twitter.com/widgets/tweet_button.html?url=#{twitter_gallery_url}", :style => "width:130px; height:20px;" }
