/ local values: galleries, galleries_per_line
- (0...galleries.length). each do |idx|
  - gallery = galleries[idx]
  - gal_items = gallery.images.unflagged.count
  - additional_class = line_item_additional_class(idx, galleries_per_line)

  .gallery-container.left{ :id => "gallery-container-#{ gallery.id }", :class => "#{ additional_class }" }
    %a.image-container.thumb{ :href => gallery_images_path(gallery), :title => "#{ gallery.name }" }
      = image_tag(gallery_cover_image_url(gallery), :class => "gallery-cover-image image thumb")
    .gallery-info.text.font11.line16.clear
      .text.black.bold.name{ :title => gallery.name }=raw gallery.name.truncate(22)
      .text.gray.photo-number= (gal_items > 0 ? pluralize(gal_items, "Image") : "No Image")
      .text.gray.update-time= "Last Updated: #{ gallery.updated_at_string }"
      .text.fuzzy-gray.permission= I18n.t("gallery.permission")[gallery.permission]
      %a.share-link.text.normal{ :id => "share-context-menu-#{ gallery.id }", :href => '#', :data => { :public_url => "#{ gallery.public_link }", :cover_url => "#{ gallery_cover_image_url(gallery) }", :email_url => "#{  url_for(:controller => 'galleries', :action => 'mail_shared_gallery', :gallery_id => gallery.id) }", :gallery_name => "#{ gallery.name.truncate(20) }", :gallery_user => "#{ gallery.user.username.truncate(15) }" } } Share
