%ul#menu-items
  %li.first{:class => set_current_tab("popular")}
    = link_to(I18n.t("main_menu.popular"), "/popular")

  %li{:class => set_current_tab("browse")}
    = link_to(I18n.t("main_menu.browse"), "/browse")

  %li{:class => set_current_tab("galleries")}
    = link_to(I18n.t("main_menu.galleries"), galleries_path)

  %li{:class => set_current_tab("sales")}
    = link_to(I18n.t("main_menu.sales"), "/sales")

  %li.last{:class => set_current_tab("account")}
    = link_to(I18n.t("main_menu.account"), "/my_account")

#menu-bottom-padding

:erb
  <script type="text/javascript">
    $('#menu-items').delegate(
      "a[href='#']", "click", function() {
        helper.show_notification("This feature has not been implemented yet.");
        return false;
      }
    );
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#menu-items").supersubs({
        minWidth:    5,
        maxWidth:    10,
        extraWidth:  0.1
      }).superfish({
        autoArrows:   false,
        speed:        "normal",
        delay:        100
      });
    });
  </script>
