- devise_mapping ||= Devise.mappings[:user]
- resource ||= User.new
- resource_name ||= devise_mapping.name

#session-container
  #signup-area.clearfix.left
    .main
      .header.text.white.bold New to UPLO?
      .title.text.bold.font16.line18 UPLO is invite-only. Request a free invite by entering your email address below.
      = form_for(Invitation.new, :html => {:id => 'frm-request', :class => 'left'}) do |f|
        = f.label :email, 'Email', :class => 'left'
        = f.text_field :email, :autofocus => true, :required => true
        .line
          #btn-request-inv.button.request-invite.left
          .button.app-store.right
        %br
        %br
        .line.text.white
          = link_to "Privacy Policy", "/privacy", :style => "color:white; font-weight:normal"
          = "/"
          = link_to "Terms of Use", "/terms", :style => "color:white; font-weight:normal"

  #signin-area.clearfix.right
    .main
      .header.text.white.bold= "Member Sign In"
      - message = resource.errors.full_messages.first || @devise_message
      .message.text.highlight{:class => message ? "" : "hidden"}=  message

      = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:id => 'frm-login'}) do |f|
        .line
          = f.label :user_login, 'Email / Username', :class => 'left'
          = f.text_field :login
        .line
          = f.label :user_password, 'Password', :class => 'left'
          = f.password_field :password
        .line
          / #btn-login.button.login.left
          = f.submit '', :class => "button login left", :id => 'btn-login'
          %a.text.white.font12.left{ :href => "#{ new_password_path(:user) }"} Forgot your password?

