- content_for :top_content do
  .text.black.bold.font16.left My Sales
  .line-separator.left

.wrapper
  .clearfix
    - if @sales.blank?
      .empty-data= "There is no image to view saled status."
    - else
      - image = @image
      .sale-item.detail.left
        .image-container.thumb.left.no-padding
          = image_tag(@image.url(:thumb), :class => "image-thumb image thumb")
        .info.left
          .text.black.bold.font24= @image.name
          - if (image.flagged? || image.removed?)
            .text.font20{:style => "color:red"} Unavailable
          .quantity.text.fuzzy-gray.font18= "#{@image.sold_quantity} Sales"
          .price.text.bold= number_to_currency @image.total_sales, {:precision => 2}
      .line-separator.left
      .clear
      .sale-chart.clear
        = render :partial => 'chart', :locals => {:total_sales => @image.total_sales, :sales => @sales}
      .line-separator.clear

      .sale-info.left
        .header.text.black.bold.font18 Purchased by
        - if @purchased_info.length > 0
          - (0...(@purchased_info.length - 1)). each do |idx|
            - line_item = @purchased_info[idx]
            - purchaser = User.find_by_id line_item.purchaser_id.to_i
            .item.left
              = image_tag(purchaser.avatar_url(:small), :class => "avatar medium left")
              .text.font12.left
                %span.text.black.bold{:style => 'font-weight:bold;'}= purchaser.username
                %span.text.fuzzy-gray= "(#{line_item.creation_timestamp} ago)"
                .text.gray.line22
                  - plexi_mount = line_item.plexi_mount
                  %span= plexi_mount ? 'Plexi Mount,&nbsp;'.html_safe : 'No Plexi Mount,&nbsp;'.html_safe
                  %span= "#{line_item.size},&nbsp;".html_safe
                  %span= "#{line_item.moulding} Mounding,&nbsp;".html_safe
                  %span= "Quantity #{line_item.quantity}"
          - line_item = @purchased_info[@purchased_info.length - 1]
          - purchaser = User.find_by_id line_item.purchaser_id.to_i
          .item.left.no-padding
            = image_tag(purchaser.avatar_url(:small), :class => "avatar medium left")
            .text.font12.left
              %span.text.black.bold{:style => 'font-weight:bold;'}= purchaser.username
              %span.text.fuzzy-gray= "(#{line_item.creation_timestamp} ago)"
              .text.gray.line22
                - plexi_mount = line_item.plexi_mount
                %span= plexi_mount ? 'Plexi Mount,&nbsp;'.html_safe : 'No Plexi Mount,&nbsp;'.html_safe
                %span= "#{line_item.size},&nbsp;".html_safe
                %span= "#{line_item.moulding} Mounding,&nbsp;".html_safe
                %span= "Quantity #{line_item.quantity}"
        .clear= render_pagination(@purchased_info, {:controller => "sales", :action => params[:action]})


- content_for :js do
  - javascript_tag do
    :erb
      $('.details').bind('click', function(){
        window.location = $(this).attr('data-url');
      });
