- content_for :body_class, 'images'

- content_for :top_content do
  .text.black.bold.font16.left My Sales
  .line-separator.left

.wrapper
  - if @sales.blank?
    .empty-data= "No sales yet"
  - else
    .sale-chart.left
      = render :partial => 'chart', :locals => {:total_sales => @year_sales, :sales => @monthly_sales}
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    .payment-info.right{:style => "width:180px"}
      .round-box.option.right
        .header.text.black.bold.font12= "Total amount earned"
        .content.text.bold.font14
          = number_to_currency current_user.total_earn, {:precision => 2}
      %br
      .round-box.option.right
        .header.text.black.bold.font12= "Amount owed"
        .content.text.bold.font14
          = number_to_currency current_user.owned_amount, {:precision => 2}
          -if current_user.owned_amount > 0
            -if current_user.paypal_email?
              .request_button
                = link_to image_tag( 'btn-request-payout.png'), {:controller => :sales, :action => :withdraw}, :method => :post
            -else
              .request_button
                = link_to "Set PayPal email", "/my_account"
    .line-separator.left.clear
    .sales-wrapper.left
      - (0...(@sales.length - 1)). each do |idx|
        - line_item = @sales[idx]
        - image = line_item.image
        - url = url_for(:controller => "sales", :action => "image_sale_details", :id => "#{line_item.id}")
        .sale-item.left
          .image-container.thumb.left.no-padding
            = image_tag(image.url(:thumb), :class => 'image-thumb image thumb')
          .info.left
            .name.text.black.bold= image.name
            - if (image.flagged? || image.removed?)
              .text.font20{:style => "color:red"} Unavailable
            .price
              %span.text.fuzzy-gray.bold.font18= number_to_currency line_item.total_price, {:precision => 2}
              %span.text.fuzzy-gray.font14 Cumulative
            %a.left{ :href => "#{ url }"}
              .btn-detail
          .line-separator.left

      - line_item = @sales[@sales.length - 1]
      - image = line_item.image
      - url = url_for(:controller => "sales", :action => "image_sale_details", :id => "#{line_item.id}")
      .sale-item.left
        .image-container.thumb.left.no-padding
          = image_tag(image.url(:thumb), :class => 'image-thumb image thumb')
        .info.left
          .text.black.bold.font22= image.name
          - if (image.flagged? || image.removed?)
            .text.red.font22 Unavailable
          .text.fuzzy-gray.price
            %span.text.bold.fuzzy-gray.font18= number_to_currency line_item.total_price, {:precision => 2}
            %span.text.font14 Cumulative
          %a.left{ :href => "#{ url }"}
            .btn-detail

  .clear= render_pagination(@sales, {:controller => "sales", :action => params[:action]})
