- content_for :body_class, 'images'

- content_for :top_content do
  .text.black.bold.font16.left My Sales
  .line-separator.left

.wrapper
  - if @sold_images.blank?
    .empty-data= "No sales yet"
  - else
    .sale-chart.left
      = render :partial => 'chart', :locals => {:total_sales => @total_sale, :sales => @monthly_sales}
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    .payment-info.right{:style => "width:180px"}
      .round-box.option.right
        .header.text.black.bold.font12= "Total amount earned"
        .content.text.bold.font14
          = number_to_currency current_user.total_earn, {:precision => 2}
      %br
      .round-box.option.right
        .header.text.black.bold.font12= "Amount owed"
        .content.text.bold.font14
          = number_to_currency current_user.owned_amount, {:precision => 2}
          -if current_user.owned_amount > 0
            -if current_user.paypal_email?
              .request_button
                = link_to image_tag( 'btn-request-payout.png'), {:controller => :sales, :action => :withdraw}, :method => :post
            -else
              .request_button
                = link_to "Set PayPal email", "/my_account"
    .line-separator.left.clear
    .sales-wrapper.left
      - @sold_images.each_with_index do |image, index|
        .sale-item.left
          .image-container.thumb.left.no-padding
            = image_tag(image.url(:thumb), :class => 'image-thumb image thumb')
          .info.left
            .name.text.black.bold= formatted_image_name(image)
            - if (image.flagged? || image.removed?)
              .text.font20{:style => "color:red"} Unavailable
            .price
              %span.text.fuzzy-gray.bold.font18= number_to_currency image.sale.total_image_sales, {:precision => 2}
              %span.text.fuzzy-gray.font14 Cumulative
            %a.left{ :href => sales_image_sale_details_path(:id => image.id)}
              .btn-detail
          - if index != @sold_images.length - 1
            .line-separator.left

  .clear= render_pagination(@sold_images, {:controller => "sales", :action => params[:action]})
