.container.left
  = render :partial => 'pagination', :locals => { :source => comments, :params => { :controller => 'comments', :action => 'index' }, :classes => 'comments right' }
- comments.decorate.each do |comment|
  .user-section.left
    - commenter = comment.user
    - url = profile_user_path(commenter)
    %a{ :href => "#{ url }" }
      = image_tag(commenter.avatar_url(:medium), :class => "avatar medium left")
    .info-panel.left
      %a.text.black.bold.font12.line12{ :href => "#{ url }" }= commenter.username
      %span.text.fuzzy-gray.font12.line12= "(#{ comment.duration } ago)"
      .comment.text.gray.font12.line18= simple_format(comment.description.to_s)
  .line-separator.left
