/ locals: comments
.container.left
  = render :partial => 'shared/pagination', :locals => { :source => comments, :params => { :controller => 'comments', :action => 'index' }, :classes => 'comments right' }
- comments. each do |comment|
  .user-section.left
    - commenter = comment.user
    - url = url_for(:controller => 'profiles', :action => 'show', :user_id => commenter.id)
    %a{ :href => "#{ url }" }
      = image_tag(commenter.avatar_url(:medium, is_current_user(commenter.id)), :class => "avatar medium left")
    .info-panel.left
      %a.text.black.bold.font12.line12{ :href => "#{ url }" }= commenter.username
      %span.text.fuzzy-gray.font12.line12= "(#{ comment.duration } ago)"
      .comment.text.gray.font12.line18= simple_format(comment.description.to_s)
  .line-separator.left
