.edit-template.container.left{ :data => {:id => "#{ image.id }"} }
  .image-container.thumb.no-padding{ :id => "image-container-#{image.id}", :title=>"#{image.name}" }
    = render 'galleries/image', image: image
  .info-panel.left
    .info-line.left
      .label.text.black.bold.font12 Photo Name
      = text_field :image, :name, :value => image.name, :style => "font-size:12px; margin-top:5px; padding-top:2px; padding-bottom:2px"
    .info-line.left
      .label.text.black.bold.font12{:style => "margin-bottom:5px;" } Move to Another Gallery
      = select :image, :gallery_id, gallery_options(current_user, image.gallery_id), { class: "left" }
      .info-line.left
        .label.text.black.bold.font12 Pricing
        .inline.left
          .text.gray.font11.line16.left= "Tier #{image.tier_id}"
          .price.text.black.underline.font11.line16.left Change Photo Pricing
        - if image.image_processing
          %div{ id: "processing-section-#{image.id}" }
            = image_tag('loading-thickbox.gif')
            = link_to('Processing image...', edit_gallery_image_path(image.gallery, image), id: "processing_#{image.id}", class: 'left', remote: true, :'data-image_id' => image.id)
          = javascript_tag do
            $("#processing_#{image.id}").click();
  .info-panel.left
    .info-line.left
      .label.text.black.bold.font12 Description
      = text_area :image, :description, :value => image.description
      .info-line.left{ id: "other-actions-#{image.id}", style: "#{'display:none' if image.image_processing}" }
        .label.text.black.bold.font12 Other Actions
        .inline.half.left
          %input{ :id => "image_album_cover_#{image.id}", :type => "checkbox", :name => "image[gallery_cover]", :class => "album-cover no-padding left", :checked => image.gallery_cover? }
          = label_tag "image_album_cover_#{image.id}", "Use as album cover", :class => "text gray font11 line16 left"
        .inline.half.right
          %input{ :id => "user_avatar_#{image.id}", :type => "checkbox", :name => "image[owner_avatar]", :class => "user-avatar no-padding left", :checked => image.owner_avatar }
          = label_tag "user_avatar_#{image.id}", "Use as profile picture", :class => "text gray font11 line16 left"

  .info-panel.left
    .info-line.left
      .label.text.black.bold.font12 Tags
      = text_area :image, :keyword, :value => image.keyword
    .info-line.left{ id: "delete-photo-#{image.id}", style: "margin-top:20px;#{'display:none' if image.image_processing}" }
      .button.delete-photo.right{ :data => { :url => gallery_image_path(image.gallery, image) } }

  .clear
  .line-separator
