- other_classes = '' if other_classes.nil?
- last_column_idx = photos_per_line - 1
- (0...images.length).each do |idx|
  - image = images[idx]
  - additional_class = line_item_additional_class(idx, photos_per_line)
  %a.image-container{:href => "#{ url_for(:controller => 'images', :action => 'browse', :id => image.id) }", :id => "image-container-#{ image.id }", :title=>"#{ image.name }", :class => "#{ photo_size } #{ additional_class } #{ other_classes }" }
    = image_tag(image.url("#{ photo_size }"), :class => "image-#{ photo_size } image #{ photo_size } #{ other_classes }")
