= stylesheet_link_tag("slideshow.css")
= javascript_include_tag("lib/jquery.jcarousel.js")

.image-browse
  .slideshow-container
    .top-container
      .left-container.clearfix.left.round-box
        .gallery-image
          .image-content
            = image_tag @image.data.url(:medium)
      = simple_form_for(:image, :id => @image, :action => :update, :method => 'put') do |f|
        .right-container.right
          .edit-area.round-box.clearfix
            .info.fullname.clearfix
              %label= "Author:"
              %span= (@image.author ? @image.author.fullname : "")

            .info.image-name.clearfix
              %label= "Image Name:"
              %span= @image.name

            .info.image-description.clearfix
              %label= "Liked:"
              %span= @image.likes

            .info.image-description.clearfix
              %label= "Description:"
              %span= @image.description

          .button-container.blue-gradient
            %ul
              %li
                %div
                  %input.not-implement{:type => "button", :value => "Comment"}
              %li
                %div
                  %input.not-implement{:type => "button", :value => "Like"}
              %li
                %div
                  - order_url = url_for(:controller => 'images', :action => 'order', :id => params[:id])
                  %input.order{:type => "button", :value => "Order", :data => {:url => "#{order_url}"}}
              %li
                %div{:style => "padding:2px 0 0 2px;"}
                  - tweet_url = url_for(:controller => 'images', :action => 'browse', :id => params[:id], :only_path => false)
                  %a{:href=>"https://twitter.com/share", :class=>"twitter-share-button", :data => {:lang => "en", :url => "#{tweet_url}", :counturl => "#{tweet_url}", :count => "horizontal", :text => "Shared from UPLO -"}} Tweet

    .bottom-container.clearfix
      %br
      %div
        %ul#mycarousel.jcarousel-skin-tango
          - selected_image_position = 1
          - @images.each_with_index do |image, index|
            %li
              - url = url_for(:controller => "images", :action => "browse", :id => "#{image.id}")
              %a{:href => "#{url}"}
                - if image.id == @image.id
                  - selected_image_position = index
                  = image_tag(image.data.url(:thumb), :size => "70x70", :style => "border: solid 2px orange")
                - else
                  = image_tag(image.data.url(:thumb), :size => "75x75")
:erb
  <script type="text/javascript">
  function mycarousel_initCallback(carousel)
  {
    // Disable autoscrolling if the user clicks the prev or next button.
    carousel.buttonNext.bind('click', function() {
        carousel.startAuto(0);
    });

    carousel.buttonPrev.bind('click', function() {
        carousel.startAuto(0);
    });

    // Pause autoscrolling if the user moves with the cursor over the clip.
    carousel.clip.hover(function() {
        carousel.stopAuto();
    }, function() {
        carousel.startAuto();
    });
  };

  jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
        auto: 2,
        start: <%= selected_image_position %>,
        scroll: 3,
        initCallback: mycarousel_initCallback
    });

    $(".not-implement").click(function(e){
      e.preventDefault();
      helper.alert_not_implement();
      return false;
    });

    $(".button-container .order").click(function(){
      window.location.href = $(this).attr('data-url');
    });
  });

  </script>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
