- page_title "Browse"

- can_promote = can_promote_image?(@image)

- content_for :metatags do
  = render "layouts/photo_meta_tag"

- content_for :head do
  = javascript_include_tag("admin") if can_promote

- content_for :body_class, 'images'

- content_for :right_content do
  .text.black.font18.bold= @image.name
  .line-separator
  .user-section.left
    - images_count = current_user?(@author.id) ? @author.images.count : @author.public_images.count
    - author_profile = profile_user_path(@author)
    %a{:href => "#{ author_profile }"}
      = image_tag @author.avatar_url(:small), :class => 'avatar small left'
    .left
      %span.text.gray.font12.line12 By
      %a.text.black.normal.font12.line12{:href => "#{ author_profile }"}= @author.username.truncate(20)
      .text.gray.font11= "#{@author.fullname} &bull; #{ pluralize(images_count, 'Item')}".html_safe
    - if current_user?(@author.id)
      %a#btn-edit.button.edit.right{ :href => "#{ edit_images_gallery_path(@image.gallery) }" }
    - else
      - is_author_following = @author.has_follower?(current_user.id)
      - follow_class = is_author_following ? 'unfollow' : 'follow'
      #btn-follow.button.right{ :class => "#{ follow_class }", :data => { 'author-id' => "#{ @author.id }", 'following' => "#{ is_author_following }"} }
  .line-separator.left
  .frame-fit.text.line10.left
    .text.black.font12.left{:style => 'margin-top:7px;'}= "Uploaded on #{@image.created_at.strftime('%m/%d/%Y')}"
    .right
      - if @image.gallery.is_public?
        %span.text.black.font12 from
      %span.text.black.bold.font20= number_to_currency @image.sample_product_price, {:precision => 2}
  .line-separator.left
  .text.gray.font12.line16.left
    = @image.description

  .clear
  .text.black.font12{:style => 'margin-top:30px;'} Related images
  .line-separator.left
  .clearfix
    - if @images.blank?
      .empty-data= "Please upload a photo."
    - else
      - (0...@images.length). each do |idx|
        - image = @images[idx]
        - url = url_for(:controller => "images", :action => "browse", :id => "#{image.id}")
        - additional_class = (idx%4 == 0) ? "no-padding-left" : ((idx%4==3) ? "no-padding-right" : "")
        .image-container.small{:id => "image-container-#{image.id}", :title=>"#{image.name}", :class => "#{additional_class}"}
          %a{ :href => "#{url}" }
            = image_tag image.url(:small), :class => 'image small left'
- if !@image.flagged?
  = render :partial => 'sharing_box'

.sections
  - if can_promote
    .image-container.promote-container.clearfix
      - promote_link = url_for(:controller => "admin/spotlights", :action => "promote", :id => "#{@image.id}")
      .promote-button.button
        %form{:action => promote_link, :class => "promote-photo-form",
                  :id => "promote-photo-form-#{@image.id}", :method=>'post'}
          = hidden_field_tag(:authenticity_token, form_authenticity_token)

  .image-container-wrapper.clearfix
    .image-container.medium.no-border.clearfix
      = image_tag(@image.url(:medium), :class => 'image medium',
                'data-width' => @image.image.width,
                'data-height' => @image.image.height, :alt => @image.name)
  .actions.left
    .left
      .like.left
        .icon.left
        .times.text.fuzzy-gray.bold.font16.left= @image.image_likes_count
        .label.text.fuzzy-gray.font16.left= pluralize_without_count(@image.image_likes_count, "Like")
      .comment.text.fuzzy-gray.font16.left
        .icon.left
        .times.text.fuzzy-gray.bold.left= @image.comments.count
        .label.text.fuzzy-gray.font16.left= pluralize_without_count(@image.comments.count, 'Comment')
    .right
      - like_class = @dislike ? "dislike" : "like"
      - order_url = url_for(:controller => 'images', :action => 'order', :id => params[:id])
      #btn-like.button.left{:class => "#{like_class}", :onclick => 'update_liked();', :data => { 'id' => params[:id], 'dislike' => "#{ @dislike }" }}
      - if !@is_owner
        .button.flag.left{:onclick => "show_flag_form();"}
      .button.order.left{:onclick => "window.location.href = '#{order_url}';", :data => {:url => "#{order_url}"}}
    - if @image.gallery.is_public? && !@image.flagged?
      .buttons-container.right
        - image_url = "https://www.facebook.com/sharer.php?u=#{browse_image_url(@image)}"
        - twitter_image_url = "https://twitter.com/share&data-url=#{browse_image_url(@image)}"
        %a.twitter-share-button.right{ :href => twitter_image_url}
        %a.facebook.button.right.share-popup{ :href => image_url}

    .line-separator.clear{ style: 'padding-top: 4px;' }
  #comments-section{ :data => { :id => "#{@image.id}" }}
    .header.text.black.font18.bold Comments and faves
    #current_comments
      = render :partial => 'comments_template', :locals => { :comments => @comments }
    .user-section.left
      %a{ :href => profile_user_path(current_user) }
        = image_tag current_user.avatar_url(:medium), :class => "avatar medium left"
      .left
        = form_for :comment, :url => '/comments', :method => 'post', :html => {:id =>'frm-comment'} do |f|
          = f.text_area :description, :class => 'text gray font12 left', :title => 'Add your comment here...'
          = f.hidden_field :image_id, :value => @image.id
          #post-comment.button.post-comment.clear{:style => "width:100%"}
            #post-comment-warning.left{:style => "line-height: 30px;color: red;margin-left:130px"}

  .clear

- if !@is_owner
  = render :partial => 'flag_form', :layout => 'layouts/popup', :locals => { :title => 'Flag for Review', :id => "flag_form"}

- if can_promote
  = render(:partial => 'delete_confirm',
      :layout => 'layouts/popup',
      :locals => { :title => 'Confirm', :id => 'promote-confirm-popup',
      :text => t("admin.promote_confirm") })

- content_for :js do
  = javascript_include_tag('http://platform.tumblr.com/v1/share.js')
  = javascript_tag do
    :erb
      $(document).ready(function(){
        <% if can_promote %>
          // Promote
          spotlights.setup_promote_popup();
        <% end %>

        //Flag implementation
        $("#flag_form .cancel").click(function(e){
          $.modal.close();
        });

        $('.sharing-popup .cancel').click(function(){
          $.modal.close();
        });

        $('.sharing-popup .close').click(function(){
          $.modal.close();
        });

        $('#btn-follow').click(function(){
          var author_id = $(this).attr('data-author-id');
          var unfollow = $(this).attr('data-following');
          $.ajax({
            url: '/users/follow',
            type: "GET",
            data: { user_id:author_id, unfollow: unfollow },
            dataType: "json",
            success: function(response){
              if(response.success==false){
                helper.show_notification(response.msg);
              } else if(unfollow=='false') {
                $('#btn-follow').attr('data-following', 'true');
                $('#btn-follow').removeClass('follow');
                $('#btn-follow').addClass('unfollow');
              } else {
                $('#btn-follow').attr('data-following', 'false');
                $('#btn-follow').removeClass('unfollow');
                $('#btn-follow').addClass('follow');
              }
            }
          });
        });

        $('#btn-cancel').click(function(){
          $.modal.close();
        });

        $('#btn-send').click(function(){
          var emails = $('#email_emails').val().split(',');
          var reg = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
          for(var i=0; i < emails.lenght; i++){
            if( !reg.test(emails[i].trim()) ){
              helper.show_notification('Please enter an email address!');
              return false;
            }
          }
          $('#email-details').submit();
        });

        $('#social-sharing .close .right').click(function(){
          $('#social-sharing').addClass('hide');
        });

        <% if Rails.env.production? %>
        $('#post-comment').click(function(){
          // Google Analytics
          _gaq.push(['_trackEvent', 'UPLO Web / Comment', 'post comment', 'status', 1]);
          return true;
        });
        <% end %>
      });

      function submit_flag(desc, type){
        var image_id = $('#btn-like').attr('data-id');
        $.modal.close();
        setTimeout(show_mask,100);
        $.ajax({
          url: '/images/' + image_id + '/flag',
          type: "POST",
          data: { type: type, desc: desc },
          dataType: "json",
          success: function(data){
            $.modal.close();
            if (data.success) {
              setTimeout(finish_flagging,100);
            }else{
              $('#flag_form').modal();
              var error = '<div class="text highlight message">' + data.msg + '</div>';
              $('#selection_container').before(error);
            }
          },
          error: function(){
            $.modal.close();
            helper.show_notification("Cannot flag this image at this time");
          }
        });
      };

      function show_mask(){
        $("#mask").modal();
      }

      function show_flag_form(){
        $('#flag_form').modal({ persist:true });
        $('#selection_container').css('height', 'auto');
      }

      function finish_flagging(){
        show_flag_form();
        $('#social-sharing').remove();
        $('.button.share').remove();
        show_thank_form();
      }

      function showEmailPopup(){
        $('#social-sharing').addClass('hide');
        $("#email-sharing-popup").modal();
      };

      $(document).on('click', '.share-popup', function(e){
        href = $(this).attr('href');
        e.preventDefault();
        window.open(href, '', 'width=626,height=436,left=200,top=200');
      });

      function showSocialPopup(class_name){
      $('#social-sharing').addClass('hide');
        $("#social-sharing-popup").modal();
        $("#social-sharing-popup .header .left").first().html("<div class='" + class_name + "-icon left'></div>");
        $("#social_type_social").val(class_name);
      };

      function display_sharing_box() {
        var box, top, left;
        box = $('#social-sharing');
        var btn_share = $('.button.share');
        var img = $('.sections .image-container.medium');
        var img_container = $(img).parents('.image-container-wrapper');
        if(box.hasClass('hide')) {
          top = img.height() - box.height() + 2;
          left = img_container.width() - box.width() + 18;
          box.removeClass('hide');
          box.css('top', top + 'px');
          box.css('left', left + 'px');
        } else {
          box.addClass('hide');
        }
      }

      function update_liked(){
        var image_id = $('#btn-like').attr('data-id');
        var dislike = $('#btn-like').attr('data-dislike');
        $('#mask').modal();
        $.ajax({
          url: '/images/' + image_id + '/switch_like',
          type: "PUT",
          data: { dislike:dislike },
          dataType: "json",
          success: function(response){
            $(".actions .like .times").html(response.image_likes_count);
            if (response.image_likes_count != 1)
              $(".actions .like .label").html("Likes");
            else
              $(".actions .like .label").html("Like");
            if(dislike == 'true'){
              $("#btn-like").attr('data-dislike', 'false');
              $('#btn-like').removeClass('dislike');
              $('#btn-like').addClass('like');
              $.modal.close();
            }else{
              $("#btn-like").attr('data-dislike', 'true');
              $('#btn-like').removeClass('like');
              $('#btn-like').addClass('dislike');
              $.modal.close();
            }
          },
          fail: function(){}
        });

        <% if Rails.env.production? %>
        // Google Analytics
        if(dislike == 'false'){
          _gaq.push(['_trackEvent', 'UPLO Web / Like', 'like', 'status', 1]);
        }
        else{
          _gaq.push(['_trackEvent', 'UPLO Web / Like', 'dislike', 'status', 0]);
        }
        <% end %>
      }

      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
