- content_for :body_class, 'images'

- content_for :top_content do
  .text.bold.font16.line12.left
    %span.text.black My Gallery /
    %span.text.gray= @gallery.name.truncate(40)
    - if !current_user.owns_gallery?(@gallery)
      %span.text.fuzzy-gray= "From "
      %span.text.fuzzy-gray
        = link_to @gallery.user.fullname, profile_user_path(@gallery.user)
  .text.black.bold.font12.line12.right
    - if can_modify_gallery?(@gallery)
      - if @images.blank?
        - images_action = "Upload Photos"
      - else
        - images_action = "Edit / Upload Photos"

      .action-container
        %a#edit-images{:href => "#{ edit_images_gallery_path(@gallery) }", :class => "ui-button-container icon-link"}= images_action
        %span.saparator= "|"
        %a#edit-gallery{:href => edit_gallery_path(@gallery), :class => "ui-button-container icon-link"} Edit Gallery Details
        %span.saparator= "|"
        = link_to("Delete Gallery", gallery_path(@gallery),
                  :method => :delete,
                  :class => "ui-button-container icon-link",
                  :confirm => I18n.t("gallery.delete_confirm"))
        - unless @gallery.is_public?
          %span.saparator= "|"
          = link_to("Invitations", gallery_gallery_invitations_path(@gallery))
    
.images-wrapper.wrapper.left
  #gallery-form-container.clearfix.hidden{:style => "display: none"}
  - if @images.blank?
    .empty-data= 'Upload an image to your gallery'
  - else
    = render :partial => 'images/photos_template', :locals => { :images => @images, :photos_per_line => 6, :photo_size => 'thumb' }
= render_pagination(@images, {:controller => "images", :action => params[:action], :gallery_id => @gallery.id})

:erb
  <script type="text/javascript">
    gallery.setup();
  </script>

