- content_for :head do
  = javascript_include_tag("lib/jail.min.js")
  = javascript_include_tag("app/gallery.js")
  
.galleries.images
  .gallery-header
    - is_owner = @gallery.is_owner?(current_user)
    %h2.gallery-name= @gallery.name
    %span= "("
    %span.gallery-permission
      - if is_owner
        %a{:href => "#"}= @gallery.permission_string
      - else
        = @gallery.permission_string
    %span= ")"
    - if !is_owner
      %span.author-info
        %span= "From "
        %span.author-link
          %a{:href => "#"}= current_user.fullname
    .description 
      = @gallery.description
        
  - if can_modify_gallery?(@gallery)
    .action-container
      %a#edit-images{:href => gallery_images_list_path(:gallery_id => @gallery.id), :class => "ui-button-container icon-link"}
        %span= "Edit Images"
      
      %span.saparator= "|"
      %a#edit-gallery{:href => edit_gallery_path(@gallery), :class => "ui-button-container icon-link"}
        %span= "Edit Gallery"
      
      %span.saparator= "|"
      = link_to("Delete Gallery", gallery_path(@gallery), 
                :method => :delete, 
                :class => "ui-button-container icon-link", 
                :confirm => I18n.t("gallery.delete_confirm"))
  
  #gallery-form-container.clearfix.round-box.hidden{:style => "display: none"}
  
  .images-wrapper.clearfix
    - if @images.blank?
      .empty-data= "There is no image in this gallery. Please add image."
    - else
      - @images.each do |image|
        .gallery-container.image-container{:id => "image-container-#{image.id}"}
          - url = url_for(:controller => "images", :action => "show", :id => "#{image.id}")
          %a.gallery-image{:href => "#{url}" }
            %span.image-link.default
              = async_image_tag(image.url(:thumb), :class => "image-thumb")
      
  = render_pagination(@images, {:controller => "images", :action => params[:action], :gallery_id => @gallery.id})

:erb
  <script type="text/javascript">
    gallery.setup();
  </script>
