- content_for :head do
  = stylesheet_link_tag("scss/cart_new.css", "scss/new_image.css")

- content_for :top_content do
  .text.black.bold.font16{ :style => 'margin-bottom:8px;' }= @image.name

- content_for :right_content do
  - if @line_item.nil?
    - size = nil
    - moulding = nil
    - quantity = 1
    - action_url = url_for(:controller => "shopping_cart", :action => "add_to_cart", :image_id => @image.id)
  - else
    - size = @line_item.size
    - quantity = @line_item.quantity
    - moulding = @line_item.moulding
    - action_url = url_for(:controller => "shopping_cart", :action => "update_cart", :line_item_id => @line_item.id)
  .right
    .text.black.bold.font18 Build Your Order
    .line-separator
    = simple_form_for(:line_item, :url => action_url, :method => 'post', :html => { :id => 'order-details', :class => 'left' }) do |f|
      .round-box.option.left.print-sizes-container
        .header.text.black.bold.font14= "Print Size"
        .item.left
          = f.select :size, printed_sizes_options(@image, size)
      .round-box.option.left{:style => 'width:138px;'}
        .header.text.black.bold.font14= "Moulding Choice"
        .item.left
          = f.select :moulding, mounding_options(moulding)
      .round-box.option.right{:style => 'width:138px;'}
        .header.text.black.bold.font14= "Quantity"
        .item.left
          = f.text_field(:quantity, :value => quantity, :size => '5', :title => 'Limit from 1 to 99999')
      .line-separator.left
      .summary.left
        #discount.right
          .text.black.left Discount:
          .number.text.black.left= "- #{number_to_currency 0, {:precision => 2}}"
        #total.right
          .text.black.bold.left Subtotal:
          .number.text.black.bold.left= number_to_currency 0, {:precision => 2}
      .line-separator.left
      .button.add-to-cart.clear.right

.sections.clearfix
  .image-container-wrapper.clearfix
    #order-preview.image-container.medium.left
      #preview-frame.clearfix
        = image_tag(@image.data.url(:medium), :id => "preview-image", :class => 'image medium',
                  'data-width' => @image.width,
                  'data-height' => @image.height, :alt => @image.name)
        .image-frame

- content_for :js do
  = javascript_tag do
    :erb
      var image_id = '<%= params[:id] %>';
      var pricing = <%= Image::TIERS_PRICES[@image.tier].to_json %>;
      var moulding_discount = <%= Image::MOULDING_DISCOUNT.to_json %>;
  = javascript_include_tag 'app/order_image.js'
