= stylesheet_link_tag("slideshow.css", "scss/cart.css")

.image-browse
  .slideshow-container
    .top-container
      .left-container.clearfix.left.round-box
        .gallery-image
          .image-content
            = image_tag @image.data.url

      - action_url = @line_item.nil? ? url_for(:controller => "shopping_cart", :action => "add_to_cart", :image_id => @image.id) : url_for(:controller => "shopping_cart", :action => "update_cart", :line_item_id => @line_item.id)
      = simple_form_for(:line_item, :url => action_url, :method => 'post') do |f|
        .order.right-container.right
          .edit-area.round-box.clearfix
            .info.clearfix
              %label= "Plexi Mount:"
              = f.radio_button(:plexi_mount, true, :checked => true)
              = f.label(:plexi_mount_true, "Yes", :class => 'options_label')
              = f.radio_button(:plexi_mount, false)
              = f.label(:plexi_mount_false, "No", :class => 'options_label')

            %br
            .info.clearfix
              %label= "Print size:"
              = f.radio_button(:size, "300x300", :checked => true) 
              = f.label(:size_300x300, "300x300", :class => 'options_label')
              = f.radio_button(:size, "500x500") 
              = f.label(:size_500x500, "500x500", :class => 'options_label')
              
            %br
            .info.clearfix
              %label= "Moulding choice:"
              = f.radio_button(:moulding, "White", :checked => true)
              = f.label(:moulding_white, "White", :class => 'options_label')
              = f.radio_button(:moulding, "Black")
              = f.label(:moulding_black, "Black", :class => 'options_label')
              = f.radio_button(:moulding, "Wood")
              = f.label(:moulding_wood, "Wood", :class => 'options_label')
              = f.radio_button(:moulding, "Silver")
              = f.label(:moulding_silver, "Silver", :class => 'options_label')
              
            %br
            .info.clearfix
              %label= "Quantity:"
              = f.text_field(:quantity, :style => 'width:273px; margin:0 6px', :value => '1')
              
          .button-container.blue-gradient
            - btn_text = @line_item.nil? ? "Add to cart" : "Update cart"
            %input.add-to-cart{:type => "submit", :value => btn_text}


