- content_for :body_class, 'images'

- content_for :top_content do
  .text.black.bold.font16{ :style => 'margin-bottom:8px;' }= @image.name

- content_for :right_content do
  - if @line_item.nil?
    - product = nil
    - product_option = nil
    - quantity = 1
  - else
    - product = @line_item.product_id
    - product_option = @line_item.product_option_id
    - quantity = @line_item.quantity
  .right
    .text.black.bold.font18 Build Your Order
    = simple_form_for(:line_item, :url => url_for(:controller => "shopping_cart", :action => "add_to_cart", :image_id => @image.id), :method => 'post', :html => { :id => 'order-details', :class => 'left' }) do |f|
      = hidden_field_tag :line_item_id, @line_item.id if @line_item

      .line-separator.left
      .round-box.option.left.print-sizes-container
        .header.text.black.bold.font14= "Print Size"
        .item.left
          = f.select :product_id, options_from_collection_for_select(@products, :id, :display_name, product)
      .round-box.option.left
        .header.text.black.bold.font14= "Options"
        .item.left
          = f.select :product_option_id, product_option_options(@product_options, product_option)
      .round-box.option.right{:style => 'width:138px;'}
        .header.text.black.bold.font14= "Quantity"
        .item.left
          = f.text_field(:quantity, :value => quantity, :size => "2", :title => 'Limit from 1 to 10')
          .line-separator.left
      .summary.right
        #total.right
          .text.black.bold.left Subtotal:
          .number.text.black.bold.left= number_to_currency 0, {:precision => 2}
      .line-separator.left
      .button.add-to-cart.clear.right

.sections.clearfix
  #order-preview.left
    #preview-frame.clearfix
      #preview-image
      .icon.loading-small#preview-waiting

- content_for :js do
  = javascript_tag do
    :erb
      var image_id = '<%= params[:id] %>';
