= stylesheet_link_tag("slideshow.css")
= javascript_include_tag("jquery.jcarousel.min.js")
.slideshow-container
  .top-container
    .left-container.clearfix.left.round-box
      #image-viewer
        = image_tag @selectedImage.data.url
      .filter-container
        %ul
          %li
            %button Filter
          %li
            %button Filter
          %li
            %button Filter
          %li
            %button Filter
          %li
            %button Filter
    .right-container.right
      = simple_form_for(:image, :action => :update, :method => "put") do |image|
        .button-container.round-box.blue-gradient
          %ul
            %li
              %div
                =button_to I18n.t("slideshow.cancel")
            %li
              %div
                =button_to I18n.t("slideshow.print")
            %li
              %div
                =image.submit I18n.t("slideshow.save")
        .edit-area.round-box.clearfix
          = current_user.first_name + " " + current_user.last_name
          %br.clearfix
          %ul
            %li
              = I18n.t("slideshow.picture_name")
            %li
              = image.text_field :name, :value => @selectedImage.name
            %li
              = I18n.t("slideshow.description")
            %li
              = image.text_area :description, :value => @selectedImage.description
  .bottom-container.clearfix
    %br
    %div
      %ul#mycarousel.jcarousel-skin-tango
        - @images.each do |image| 
          %li
            %a{:href => "/images/slideshow?id=#{image.id}"}
              = image_tag(image.data.url(:thumb), :size => "75x75")
:erb
  <script type="text/javascript">
  function mycarousel_initCallback(carousel)
  {
    // Disable autoscrolling if the user clicks the prev or next button.
    carousel.buttonNext.bind('click', function() {
        carousel.startAuto(0);
    });

    carousel.buttonPrev.bind('click', function() {
        carousel.startAuto(0);
    });

    // Pause autoscrolling if the user moves with the cursor over the clip.
    carousel.clip.hover(function() {
        carousel.stopAuto();
    }, function() {
        carousel.startAuto();
    });
  };

  jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
        start: 5,
        scroll: 3,
        initCallback: mycarousel_initCallback
    });
  });

  </script>