= stylesheet_link_tag("slideshow.css")
= javascript_include_tag("jquery.jcarousel.min.js")
.slideshow-container
  .top-container
    .left-container.clearfix.left.round-box
      #image-viewer
        = image_tag "http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM"
      .filter-container
        %ul
          %li
            %button Filter
          %li
            %button Filter
          %li
            %button Filter
          %li
            %button Filter
          %li
            %button Filter
    .right-container.right
      .button-container.round-box.blue-gradient
        %ul
          %li
            %div
              %button Cancel
          %li
            %div
              %button Print
          %li
            %div
              %button Save
      .edit-area.round-box.clearfix
        =current_user.first_name + " " + current_user.last_name
        %br.clearfix
        %ul
          %li
            Picture name 
          %li
            Description
        %ul
          %li
          %li
            %div
            %input :value => abc
          %li
            %textarea
  .bottom-container.clearfix
    %br
    %div
      %ul#mycarousel.jcarousel-skin-tango
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
        %li
          = image_tag("http://t2.gstatic.com/images?q=tbn:ANd9GcSwoYSMWKh06h6xsI_fTLdwNpUbzdgxFEIBJ9G6HjuNwvrXccqgFmQPFIxM", :size => "75x75")
:erb
  <script type="text/javascript">
  function mycarousel_initCallback(carousel)
  {
    // Disable autoscrolling if the user clicks the prev or next button.
    carousel.buttonNext.bind('click', function() {
        carousel.startAuto(0);
    });

    carousel.buttonPrev.bind('click', function() {
        carousel.startAuto(0);
    });

    // Pause autoscrolling if the user moves with the cursor over the clip.
    carousel.clip.hover(function() {
        carousel.stopAuto();
    }, function() {
        carousel.startAuto();
    });
  };

  jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
        start: 5,
        scroll: 3,
        initCallback: mycarousel_initCallback
    });
  });

  </script>