- id = '' if id.nil?
- title = '' if title.nil?
- icon_class = '' if icon_class.nil?
- popup_class = '' if popup_class.nil?
.popup.left.hide{ :id => "#{ id }", :class => "#{ popup_class }" }
  .header.left
    .left{ :class => "#{ icon_class }" }
    .title.text.black.bold.font12.left{:style => "font-size:12px"}= title
    .close.right
  .container.left
    .main-panel.left
      = yield
