!!!

%html
  %head
    - title = "UPLO #{yield(:title)} | #{I18n.t("common.site_title")}"
    %title= title
    %meta{ :charset => "utf-8" }
    %meta{:name => "title", :content => title}

    %link(href="#{path_to_image('/favicon.ico')}" type="image/x-icon" rel="shortcut icon")/
    %link(href="#{path_to_image('/favicon.ico')}" type="image/x-icon" rel="icon")/

    = stylesheet_link_tag "application.css", "scss/dialog.css"
    = jquery_include_tag
    = javascript_include_tag("rails.js", "application.js", "app/popup.js")
    = csrf_meta_tag
    = yield :head

  %body
    #wrapper
      #header.blue-gradient-reverse
        #logo-wrapper
          %a#logo{:href => "/"}
            = image_tag("uplo-logo.png", {:alt => "UPLO"})
          #search-box-wrapper
            =# render(:partial => "shared/search_box")
          #user-box
            = render(:partial => "shared/user_menu")

        %nav#menu
          - if user_signed_in?
            = render(:partial => "shared/main_menu")

      #main.clearfix
        - flash_class = (flash.blank? ? "" : "content")
        #flash{:class => flash_class}
          - flash.each do |key, value|
            .box{:class => "box-#{key}"}= value

        .content-wrapper.clearfix
          = yield

        #contact-panel
          =# render(:partial => "shared/contact_panel")

      #footer.round-box.blue-gradient
        =# render(:partial => "shared/footer")

    #build-version{:style => "text-align: center; font-size: 12px"}= "Build 7: 2012-02-27"

:erb
  <script type="text/javascript">
    $(document).ready(function(){
      //helper.hide_require_signs();
      helper.auto_hide_flash_message();
    });
  </script>
