!!!

%html
  %head
    - title = "UPLO #{yield(:title)} | #{I18n.t("common.site_title")}"
    %title= title
    %meta{ :charset => "utf-8" }
    %meta{:name => "title", :content => title}
    %meta{:name => "viewport", :content => "width=device-width,user-scalable=false,initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag 'scss/application.mobile.css'
  %body{:style => "background:white"}
    #header
      .wrapper{:style => "width:100%; text-align:center"}
        %a#logo{:href => "/"}
          = image_tag("uplo_logo.png", {:alt => "UPLO"})
    .clear

    .wrapper{:style => "width:100%; text-align:center"}
      = yield