!!!

%html
  %head
    %title= page_title_with_default
    %meta{ :charset => "utf-8" }
    %meta{:name => "viewport", :content => "width=device-width,user-scalable=false,initial-scale=1, maximum-scale=1"}
    = csrf_meta_tags
    = stylesheet_link_tag 'mobile'
    = javascript_include_tag 'application'

  %body{:style => "background:white"}
    #header
      .wrapper{:style => "width:100%; text-align:center"}
        %a#logo{:href => "/"}
          = image_tag("uplo_logo.png", {:alt => "UPLO"})
    .clear

    .wrapper{:style => "width:100%; text-align:center"}
      = yield