!!!

%html
  %head
    - title = "UPLO #{yield(:title)} | #{I18n.t("common.site_title")}"
    %title= title
    %meta{ :charset => "utf-8" }
    %meta{:name => "title", :content => title}
    = csrf_meta_tags

    %link(href="#{path_to_image('/favicon.ico')}" type="image/x-icon" rel="shortcut icon")/
    %link(href="#{path_to_image('/favicon.ico')}" type="image/x-icon" rel="icon")/

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = yield :head
    = render(partial: "google/analytics")

  %body
    #wrapper
      #header.blue-gradient-reverse
        #logo-wrapper
          %a.left#logo{:href => "/"}
            = image_tag("uplo-logo.png", {:alt => "UPLO"})
          .left.font12{:style => "color:#ed3b03;font-weight:bold;padding-left:5px"}
          Beta
          #search-box-wrapper
            =# render(:partial => "search_box")
          #user-box
            = render(:partial => "user_menu")

        %nav#menu
          - if user_signed_in?
            = render(:partial => "main_menu")

      #main.clearfix
        - flash_class = (flash.blank? ? "" : "content")
        #flash{:class => flash_class}
          - flash.each do |key, value|
            .box{:class => "box-#{key}"}= value

        .content-wrapper.clearfix
          = yield

        #contact-panel
          =# render(:partial => "contact_panel")

      #footer.round-box.blue-gradient
        =# render(:partial => "footer")

    #build-version{:style => "text-align: center; font-size: 12px"}= "Build 8: 2012-03-27"

:erb
  <script type="text/javascript">
    $(document).ready(function(){
      //helper.hide_require_signs();
      <% if (@auto_hide_notification) %>
        helper.auto_hide_flash_message();
      <% end %>
    });
  </script>
