!!!

%html
  %head
    %title= page_title_with_default
    %meta{ :charset => "utf-8" }
    = csrf_meta_tags

    %link(href="#{path_to_image('/favicon.ico')}" type="image/x-icon" rel="shortcut icon")/
    %link(href="#{path_to_image('/favicon.ico')}" type="image/x-icon" rel="icon")/

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = yield :head
    = render(partial: "analytics/google") if Rails.env.production?
    = render(partial: "analytics/woopra") if Rails.env.production?

  = body_tag do
    #fb-root
    :erb
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    .wrapper
      #top
      #center.panel.left
        = yield :center_content

      #right.panel.right
        %a#logo.left{:href => "/" }
          = image_tag("uplo_logo.png", {:alt => "UPLO"})
        .line-separator.left
        = yield :right_content

      #bottom.panel
        .line-separator
        .text.light-gray.font11.line18 Copyright &copy; 2012 UPLO. All rights reserved
        #build-version{:style => "text-align: center; font-size: 12px"}= "Build 8: 2012-03-27"

    = yield :js


