- content_for :head do
  = javascript_include_tag("lib/jquery.ui.datepicker.js")
  = javascript_include_tag("app/user.js")
  = jquery_ui_css_tag


#non-login-container.wrapper
  #register-panel.clearfix
    .header.text.white.bold New to UPLO? Create an account.
    .title.text.bold.font16.line18
      %span Already a member?
      %a.text.highlight{ :href => '/'} Login
    - message = resource.errors.full_messages.first || @devise_message
    .message.text.highlight{:class => message ? "" : "hidden"}=  message
    = form_for(:user, :url => registration_path(:user), :html => {:id => 'register-form', :class => 'left'}) do |f|
      = hidden_field_tag :token, params[:token]
      .line
        .half.left
          = f.label :user_first_name, 'First name', :class => 'left'
          = f.text_field :first_name, :required => true
        .half.right
          = f.label :user_last_name, 'Last name', :class => 'left'
          = f.text_field :last_name, :required => true
      .line
        .half.left
          = f.label :user_email, 'Email Address', :class => 'left'
          = f.text_field :email, :required => true, :autofocus => true, :value => @inv.email, :disabled => true
          = f.hidden_field :email, :as => :hidden, :value => @inv.email
        .half.right
          = f.label :user_username, 'username', :class => 'left'
          = f.text_field :username, :required => true, :autofocus => true
      .line
        .half.left
          = f.label :user_password, 'password', :class => 'left'
          = f.password_field :password, :required => true
        .half.right
          = f.label :user_password_confirmation, 'password confirmation', :class => 'left'
          = f.password_field :password_confirmation, :required => true
      .line
        .text.font11.line32.left
          %span.term-of-use By registering you aree to the
          %a.term-of-use{ :href => '/terms'} Terms and Conditions
        = f.submit '', :class => "button signup right", :id => 'btn-signup'

:erb
  <script type="text/javascript">
    $(document).ready(function(){
      user.setup_datepicker();

      $('#register-form').submit(function(){
        // Get current date.
        var date = new Date();
        _gaq.push(['_setCustomVar', 2, 'UPLO Web - Sign Up Time', date.toUTCString()]);
        _gaq.push(['_trackEvent', 'UPLO Web / Sign Up', 'sign up by UPLO web', 'status']);
        return true;
      });
    });
  </script>
